[2021-04-22 16:40] aluunzui opened #1 "Config Crash"
**Describe the bug**
When editing configs minecraft crashes

**To Reproduce**
step 1: edit configs, disabling some creatures and some of the new features
step 2: open MC
step 3: crash

**Expected behavior**
minecraft should open and have the configs implemented.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
heres the [paste](https://pastebin.

[2021-04-23 20:52] RayTrace082 commented on #1
Seems like you forgot to install [Citadel](https://www.curseforge.com/minecraft/mc-mods/citadel)

If the issue persists, please post the new crashlog alongside your untamedwilds-common.json

[2021-04-23 20:52] #1 closed, assigned to RayTrace082

[2021-04-23 21:12] RayTrace082 commented on #1
If the issue persists, post the new crashlog, alongside your untamedwilds-common.json config

[2021-05-08 05:11] IceaPlayzPC opened #2 "Bug Collection: mobs give birth to adult mobs, not babies, some big cats always sleep, some never sleep."
A collection of three bugs in one report to reduce spam

Issue 1: Mobs give birth to adult mobs and not actual babies
**Describe the bug**
When you breed a mob (big cats confirmed, i haven't tested the other mobs but this happened with two big cat species), when it comes time to give birth, a full grown cub pops out instead of a baby. The only way to get a baby mob is to right click the mob with t

[2021-05-09 17:21] Maxion78 opened #3 "Pick up mob config / item"
**Describe the suggestion**
It is too easy to kill a snake as you can just right-click on.

**Expected behavior**
Make a config option : pick up snake. Or make an item that allows you to pick up spiders, snakes, ...

**Additional context**
This mod is so underrated, I looove It ;)

[2021-05-10 03:59] Cixon opened #4 "[Critcal bug] [Superlag] Hundreds of unnecessary mobs."
**Describe the bug**
Installed the mod for the first time with the latest version and latest citadel.
I'm using forge 36.1.4

**To Reproduce**
N/A

**Expected behavior**
Not This:

**Screenshots**
![Screenshot (243)](https://user-images.githubusercontent.com/69068153/117603901-c443ab80-b119-11eb-83f3-9ebd242a102d.png)
![Screenshot (244)](https://user-images.githubusercontent.com/69068153/117603910

[2021-05-10 20:27] RayTrace082 commented on #4
This is the main issue with this mod, and it's not really a bug. Mobs spawn everywhere, and there's really no way to address this without breaking the goals of the mod. I will probably lower the default spawn rate for Critters and Fish because it does get pretty bad

I do have kinda lessened this problem in the next version, by using "totally-not-a-beehive" blocks that store mobs further from 50 b

[2021-05-18 08:10] RayTrace082 commented on #3
To be fair, Snakes are not meant to be any kind of serious threat, I have considered having to use a Stick to pick up Snakes, but it doesn't really add much to the game

That said, I have added a Config option to prevent angered mobs from being catchable, disabled by default (applies to picking up mobs and Cage traps)

[2021-05-18 08:10] #3 closed, assigned to RayTrace082

[2021-05-19 09:20] RayTrace082 commented on #2
Thanks for the reports. I'm fine with squeezing multiple bugs in one post, provided they are minor

Oof, this first one was really, really stupid, it's now fixed on the upcoming version

Sleep behaviors have been a massive thorn on this project, and I think disabling them altogether is a sensible choice until they get a complete cleanup. That said, I have not been able to replicate the issue, Big

[2021-05-20 03:06] Akhnatan opened #5 "Crash when loading into the world when disabling the spawning of a mob (in this case bears)"
---- Minecraft Crash Report ----
// I bet Cylons wouldn't have this problem.

Time: 20/05/21 1:33 PM
Description: Unexpected error

java.lang.NullPointerException: Unexpected error
	at net.minecraft.client.renderer.entity.EntityRendererManager.func_229086_a_(EntityRendererManager.java:238) ~[?:?] {re:classloading,pl:accesstransformer:B,pl:runtimedistcleaner:A}
	at net.minecraft.client.renderer.Wor

[2021-05-20 03:36] Akhnatan commented on #5
BTW all i did was open the "untamedwilds-common.toml" file in config and edited the following:

"#Controls whether to add Bears and their associated items.
	bear = true"

I changed it to "false"

[2021-05-20 22:34] #5 closed, assigned to nobody

[2021-05-20 22:42] RayTrace082 commented on #5
I have not been able to replicate this exact crash, it makes no sense for the Renderer to crash because any such entity would get removed on load.

That said, I found a couple of nasty guaranteed crashes thanks to this bug report (GlobalEntityAttributes crashing when given a non-existent EntityType, and the FeaturePlacements crashing if a spawnList is empty from disabling mobs) , the first of whic

[2021-05-21 02:42] dabomb6405 opened #6 "Suggestion: Make gendered breeding configurable"
Gendered breeding should be able to be configured for more vanilla consistency if the player chooses (any gender can breed or gender disabled)

[2021-05-21 05:56] Akhnatan commented on #5
Well thanks very much for trying to replicate it and the new update works, no more crash.. This is a great mod. I'll keep you posted should anything odd occur.

[2021-05-24 03:04] WenXin20 opened #7 "Burrow Block Missing Localization"
With v1.1.0, the burrow block is missing localization when looked at with a mod such as the One Probe, displaying `block.untamedwilds.block_burrow` instead.

[2021-05-26 18:02] TheEvilEye05 opened #8 ""Untamed wilds encountered an error during the sided setup event phase" Error when opened minecraft in newest version (1.1.0)"
This is the crash report:

---- Minecraft Crash Report ----
// I bet Cylons wouldn't have this problem.

Time: 5/26/21 12:56 PM
Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed
	at net.minecraftforge.fml.CrashReportExtender.dumpModLoadingCrashReport(CrashReportExtender.java:85) [?:?] {re:classloading}
	at net.minecraftforge.fml.client.ClientModLoader.complet

[2021-05-30 09:05] RayTrace082 commented on #8
I cannot replicate this crash. The usual suspect (Optifine) seems to work alright with Untamed Wilds

Could you share more information about how you triggered this crash? Was it while launching the game? When creating a world? When exploring the world?
Also, are you updating the mod on a pre-existing world?

[2021-06-01 16:21] jsxksk opened #9 "why my server keep fricking crashing"
my server always fricking crashing with untamed wilds why

[2021-06-01 17:29] RayTrace082 commented on #9
![works_on_my_machine](https://user-images.githubusercontent.com/47252286/120364731-e17d2b80-c30d-11eb-8962-f28501b92e20.png)

[2021-06-01 17:29] #9 closed, assigned to nobody

[2021-06-03 10:09] VallenFrostweaver opened #10 "Blind Cave Bear overpopulation"
Minecraft 1.16.5
Forge 36.1.2
Untamed Wild 1.1.0

Blind Cave Bear population is way to high. This is not modified with the default configs. In the attached image I can count 18 of them in this one area and I've seen it in multiple areas. I am using Yung's Caves and other mods as well in this example.
![2021-06-03_11 05 51](https://user-images.githubusercontent.com/13642054/120627964-17302a80-c45c-

[2021-06-03 10:18] VallenFrostweaver commented on #10
Just to reinforce that there is an issue:
![2021-06-03_11 14 44](https://user-images.githubusercontent.com/13642054/120629095-5dd25480-c45d-11eb-8609-1eb81d057911.png)

[2021-06-04 10:33] RayTrace082 commented on #10
Thanks for the report, this really needs to be fixed

The base parameters were tuned for vanilla cave generation, and since caves are cluttered and (relatively) narrow, I used a really generous distribution to ensure good spawning
I am very sure that, in a past version, YUNG's caves and Quark's Large caves were not considered valid caves for spawning my mobs, so something on my end or theirs has p

[2021-06-10 04:55] OddXolia opened #11 "Untamed Wilds (untamedwilds) has failed to load correcty"
(Not sure what this means but, thought I would send it in for yah.)

---- Minecraft Crash Report ----
// This doesn't make any sense!

Time: 6/9/21 9:52 PM
Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed
	at net.minecraftforge.fml.CrashReportExtender.dumpModLoadingCrashReport(CrashReportExtender.java:85) [?:?] {re:classloading}
	at net.minecraftforge.fml.cl

[2021-06-10 21:57] RayTrace082 commented on #11
`forge-1.16.4-35.1.37`

Updating Forge will fix this problem
In one of the 1.16.5 Forge versions, they added their own Attribute registry, and deprecated Vanilla's, so older Forge versions are de facto incompatible with the mod

[2021-06-10 21:57] #11 closed, assigned to RayTrace082

[2021-06-13 00:14] Cixon commented on #10
@RayTrace082 perhaps you could also add cross compatibility for [Caves & Cliffs Backport](https://www.curseforge.com/minecraft/mc-mods/caves-and-cliffs-backport) as well please? I know blackgear personally and his mods are great and popular! Your cave bears blend perfect with his mod but I suffer the same issue where they spawn crazy there as well.

**Biomes:**
`cavebiomes:caves` `cavesandcliffs:d

[2021-06-13 00:19] Cixon commented on #10
Also I spoke to the modder of [Adaptive performance tweaks](https://www.curseforge.com/minecraft/mc-mods/adaptive-performance-tweaks) briefly about untamedwilds to add compatibility for the spawn rate/cap for your entities. Which their mod specializes in adding spawn tweaks amongst other things to vanilla and popular mods and their entities but mentioned they won't released that version until the

[2021-06-13 19:15] RayTrace082 commented on #10
I am planning to remove the experimental flag with the next version (very soon™), as the mod *seems* to be stable enough, while I do have a couple breaking changes in the backburner, those will wait until 1.17 or whatever next major version change.

Done, it works on the same logic as Better Caves, having either mod installed will reduce the Underground spawnrate

[2021-06-13 19:44] Cixon commented on #10
excellent! thank you so much.

[2021-06-13 20:17] #6 closed, assigned to nobody

[2021-06-13 20:17] #7 closed, assigned to nobody

[2021-06-13 20:17] #10 closed, assigned to RayTrace082

[2021-06-13 20:30] RayTrace082 commented on #2
Sleep behaviors got cleaned up as part of the latest update, closing this issue

[2021-06-13 20:30] #2 closed, assigned to RayTrace082

[2021-06-14 13:27] mondoe3 opened #12 "hello dev im having problem with the new 1.2.0 version"
the problem is that none of the new items or new spawn eggs are showing up even though i have the it in my mod folder do you know how i can fix this

[2021-06-14 14:43] RayTrace082 commented on #12
You are going to have to provide more information, because I can't do anything with that

Is Forge installed? Citadel? Are you launching the correct profile? Are you running any other mods? Is there anything strange in the logs?

[2021-06-14 20:41] Nekkok opened #13 "Untamed Wilds 1.2.0. error while loading Minecraft"
The following issues are stated when config genworld settings are changed:

_Untamed Wilds (untamedwilds) encountered an error during the load_registries event phase
java.lang.NullPointerException: null_

_Untamed Wilds (untamedwilds) encountered an error during the error event phase
java.lang.NullPointerException: null_

Steps to reproduce:
1. Open _untamedwilds-common.toml_ with Notepad++ in Win

[2021-06-14 20:48] Nekkok commented on #13
Attached latest.log file
[latest.log](https://github.com/RayTrace082/untamedwilds/files/6651184/latest.log)

[2021-06-15 03:09] mondoe3 opened #14 "You are going to have to provide more information, because I can't do anything with that"
sorry for the late response i was at school i will send screenshot of my modslist

[2021-06-15 03:15] mondoe3 commented on #12
sorry for the late response also sorry for creating a new issue thats my bad I dont know how to really use github heres all the mods i have installed
![2021-06-14 (2)](https://user-images.githubusercontent.com/85883797/121987361-3167e380-cd4d-11eb-861d-0bf7adf0c8bd.png)

[2021-06-15 03:15] #14 closed, assigned to nobody

[2021-06-15 10:39] RayTrace082 commented on #12
There's doesn't seem to be anything wrong with your game if the rest of the mods are working

The only issue I see is that you are running 1.0.1 version of UntamedWilds, a pretty old one, the most recent version is 1.2.0 and you can get it [here, in CurseForge](https://www.curseforge.com/minecraft/mc-mods/untamedwilds/download/3350697), just delete the old file and drop the new one

[2021-06-15 10:56] justin-slijkhuis opened #15 "Config options"
Hi there,
I don`t really have any bugs but I do have a request,
is it possible to add something in the config where it allows me to change where certain world gen is generated and how rare it is?

I have been working for a long time on a modpack and I actually do like the new generation.
I am playing with byg and while adding reeds and bush sometimes makes it really beautiful, in some biomes it lo

[2021-06-16 03:03] mondoe3 commented on #12
mmk ive fixed the problem i had to delete the 1.1.0 version

[2021-06-16 09:11] #12 closed, assigned to nobody

[2021-06-17 13:28] MonoSyntax opened #16 "Issue with **RandomPatches** mod. Animals picked up are teleporting back to the original spot"
When I pick up an animal and place it somewhere else it teleports back to its original spot.

I tested some mod combinations. to make sure. It looks like when I run RandomPatches and this mod together issue appears.

*(Sorry for my english not my first language.)*

**Forge:**  36.1.32

**Used Mods:** Citadel / UntamedWilds 1.2.0 / RandomPatches 2.4.4

**Also This log appears:**
*[16:25:49] [Server

[2021-06-17 14:38] RayTrace082 commented on #15
Adresed in the latest released version (1.2.1), exposed generation chance for the three Flora features (Reeds, Vegetation and Algae) and added a blacklist for disabling the features in specific biomes

[2021-06-17 14:38] #13 closed, assigned to RayTrace082

[2021-06-17 14:38] #15 closed, assigned to RayTrace082

[2021-06-17 22:46] RayTrace082 commented on #16
You can ignore the log, that's unrelated and on my end because Items were trying to spawn the same entity twice (it is harmless, as the second entity doesn't spawn, but it is fixed in-dev)

After some digging around, I have found that the conflict is between RandomPatches' solution for [MC-2025](https://bugs.mojang.com/browse/MC-2025), since they store the (precise) position of every entity and us

[2021-06-18 06:38] MonoSyntax commented on #16
Thanks for the answer :)
Keep up the good work

[2021-06-19 19:58] LowKeYOSAS opened #17 "I have an error message"
java.lang.NoClassDefFoundError: com/github/alexthe666/citadel/animation/IAnimatedEntity

[2021-06-20 12:55] RayTrace082 commented on #17
You forgot to install [Citadel](https://www.curseforge.com/minecraft/mc-mods/citadel)
It's a required dependency

[2021-06-20 12:55] #17 closed, assigned to nobody

[2021-06-23 04:46] me6669 opened #18 "Caging Rhinos make rhino die in some biomes"
When i cage rhinos, they catch and show their data on the block when mined, but when placed back down and right clicked, no rhino appears, after more testing i noticed that it only spawns in savanna biome out of the ones i tested (plains and desert) it doesnt
steps to reproduce:
-install citadel and untamed wilds(no other mods)
-capture rhino
-mine rhino cage
-place cage in savanna(rhino spawns)
-

[2021-06-23 04:50] me6669 opened #19 "Removing mobs makes patchouli book break"
When i remove a mob from the mod using the config, when i open the patchouli book, all the categories are there but theres no descriptions or pictures

Steps to reproduce:
-set something like bears to false in config
-open the
-encyclapedia of life
-look in the animal descriptions and see nothing there

[2021-06-23 19:27] RayTrace082 commented on #18
Shit, I have no clue how this one slipped by
Stored mobs were trying to spawn from zero, and if they succeeded, they had the previous NBT data applied. Thing is, if no Variant fits a biome, the spawn gets cancelled, so it never gets to apply NBT data

Fixed in-dev, issue will be closed as I push a hotfix

[2021-06-23 19:38] Virtualhel opened #20 "[1.2.1] Mountain Lion Sleeping While Swimming"
Was just messing around in a creative world when I saw this glitch. After a mountain lion is sleeping (not sure if this happens with the other big cats), you can push it into the water and it will swim, even climb back out of the water, while staying in the sleeping position.
![2021-06-23_14 31 56](https://user-images.githubusercontent.com/79956056/123157774-92b84280-d430-11eb-9516-a002b9ed253c.pn

[2021-06-24 19:02] me6669 opened #21 "Disabling Giant Clams in config prob"
Disabling Giant Clams in config makes your world not load when trying to play

hope all my issue reports aren't a bother lmao i love the mod !!!

[2021-06-25 20:04] #18 closed, assigned to RayTrace082

[2021-06-25 20:04] #19 closed, assigned to RayTrace082

[2021-06-25 20:04] #20 closed, assigned to RayTrace082

[2021-06-25 20:04] #16 closed, assigned to nobody

[2021-06-25 20:04] #21 closed, assigned to RayTrace082

[2021-06-25 20:06] RayTrace082 commented on #16
The bug is fixed on my end now, so you can safely re-enable RandomPatches' fix for MC-2025

[2021-06-25 21:29] Blunder-G opened #22 "Ticking Entity Crash with Bears (Strangley with Pandas "Even Strangley There are No Pandas Around Me?")"
Crash report:
[crash-2021-06-26_00.24.28-server.txt](https://github.com/RayTrace082/untamedwilds/files/6718906/crash-2021-06-26_00.24.28-server.txt)

Latest Log:
[latest.log](https://github.com/RayTrace082/untamedwilds/files/6718908/latest.log)

[2021-06-25 22:47] dabomb6405 opened #23 "Suggestion: Biome Spawn Configs"
The one issue I currently have with the mod is where some of the animals spawn. I think that adding a similar biome spawning config similar to Alex's Mobs would greatly benefit this mod, as the player can customize what animals spawn where to their liking.

[2021-06-27 22:35] AtaqanKurt opened #24 "Server Crashes with this mod"
[latest.log](https://github.com/RayTrace082/untamedwilds/files/6722400/latest.log)

[2021-06-27 22:37] AtaqanKurt commented on #24
it works on singleplayer launcher but crashes the server.

[2021-06-30 10:15] Kramqus opened #25 "Exit Code 0 when bear about to give birth"
Has happened multiple times minecraft will crash just before or nearing the expected birth date for the mobs for this case it happened when it had a day left before my game crashed. Hard to see in my survival world tho as the mob analyzer recipe is still unknown or only available in creative.
![Screenshot (5)](https://user-images.githubusercontent.com/86717481/123943526-d2ea6880-d9ce-11eb-8343-184

[2021-07-02 08:16] karltroid51 opened #26 "Shark Ticking Entity crashes dedicated server"
Hi! We are using your mod on our dedicated server, and recently there have been crashes because of a shark. Attached is our crash log. Thank you for any help in advance!

[crash-2021-07-02_08.10.07-server.txt](https://github.com/RayTrace082/untamedwilds/files/6753121/crash-2021-07-02_08.10.07-server.txt)

[2021-07-02 09:38] RayTrace082 commented on #24
Can't replicate this one, one of the letters in the "kingsnake" resource location has been replaced with a non-alphabet character (ý). I have implemented a possible solution for it, and it seems to work in-dev

If you don't mind answering, are you using any Resource Pack? do you use English (US) as a language in Minecraft? Is your operating system in a language featuring the ý character?

[2021-07-03 02:59] AtaqanKurt commented on #24
im using my pc in turkish but turkish doesnt have that character and i dont use any resource packs and my minecraft is english

[2021-07-05 20:39] Onat125 opened #27 "net.minecraft.util.ResourceLocationException: Non [a-z0-9/._-] character in path of location: untamedwilds:egg_tarantula_black_and_whıte"
[crash-2021-07-05_23.34.47-fml.txt](https://github.com/RayTrace082/untamedwilds/files/6766156/crash-2021-07-05_23.34.47-fml.txt)

[2021-07-08 00:29] me6669 opened #28 "mob disableing is finicky"
Disabling animals in the config sometimes doesnt work(they will still spawn) when creating worlds and in my case causes freezing when they do. No logs but if you could look into it that would be appreciated :D
love the mod!

[2021-07-08 03:50] WenXin20 opened #29 "Biome Colors for Bushes"
`Minecraft v1.16.5`
`Forge v36.1.32`
`Untamed Wilds v1.3.0`

Could bushes be changed to use biome colors? In some biomes, or if a season mod is used, the bushes can really stand out from everything else and looks odd. Thanks for the consideration!

![2021-06-02_15 43 58](https://user-images.githubusercontent.com/12000593/124859397-7b6f6e00-df75-11eb-9966-71bc2b5093bb.png)

[2021-07-11 21:20] MoonyX-3 opened #30 "Game crashes whenever animal is about to be born"

[2021-07-11 21:37] MoonyX-3 commented on #30
It crashes every single time, and if eventually you manage to save the game and not get stuck in an infinite time loop caused by crashes the baby animals simply doesn't exist. It also seems to happen with all forge versions, not sure if that helps. Great mod overall though.

[2021-07-13 02:00] KATARR69 opened #31 "Mod crashes when my Blind Cave Bear gave birth!"
so, first of all when i started it im using the easy breeding gamerule, however it just crashed the game instantly, but then i tried turning it off and wait for the pregnancy time but it still crashes when the pregnancy time is over.
EDIT:Jaguars crashed too, however hyenas and rhinos don't.

[2021-07-14 17:34] #22 closed, assigned to RayTrace082

[2021-07-14 17:34] #25 closed, assigned to nobody

[2021-07-14 17:34] #28 closed, assigned to nobody

[2021-07-14 17:49] RayTrace082 commented on #30
Fixed in the latest hotfix

[2021-07-14 17:49] #30 closed, assigned to nobody

[2021-07-14 17:50] RayTrace082 commented on #31
Fixed in the latest hotfix

[2021-07-14 17:50] #31 closed, assigned to nobody

[2021-07-14 17:51] RayTrace082 commented on #26
Most likely fixed in the latest hotfix, will close issue if no further issues arise

[2021-07-14 18:19] RayTrace082 commented on #29
This is not something that can easily be made toggleable, as your texture can either inherit biome colors or not do so

I like how the Bushes provide a consistent and different green tone in biomes with dull colors, so it's unlikely to change

[2021-07-14 18:32] WenXin20 commented on #29
Alright, fair enough. No problem then.

[2021-07-15 03:34] ZombieChameleon opened #32 "Tamed big cats attacks owner"
Not sure if this is a bug or intended, even used the ownership deed on it and it still attacks, it doesn't attack imeditliy but after some time it attacks, it's hunger is full, 200/100 according to the mob analyzer so hunger is not an issue, it has no cubs, it is pregnant but it was attacking before that so that isn't it either.
If this is intended than I understand that, they may be tamed but the

[2021-07-18 19:51] RayTrace082 commented on #32
The ownership deed is only ever useful in Multiplayer, as it's only use is transferring ownership between players

I cannot replicate the issue on my end, tamed mobs have most of their "dangerous" AI goals disabled. Can you post your list of mods? Also, since Big Cats are currently a special case, do other kinds of Big Cat have the same problem?

[2021-07-19 14:38] RayTrace082 commented on #24
Forgot to mention, but I did update the mod with a hotfix, which includes a possible solution for your problem

Fingers crossed

[2021-07-19 14:38] RayTrace082 commented on #27
Duplicate of #24

[2021-07-19 14:38] #27 closed, assigned to nobody

[2021-07-19 21:55] Bolushi opened #35 "Mountain Lion overhunting"
I seen a mountain lion and it went on a rampage, killed tons of mobs even my sporeling pet, I thought it only killed every now and then when its hungry? They also tend to go in water a lot and suffocate on Lily Pads so their pathfinding is a bit bugged when in water. I experienced this also with other big cats but this just happened in my survival world.

[2021-07-20 04:35] ZombieChameleon commented on #32
@RayTrace082 All big cats have this issue, I have tested every species of it available and every single one did the same thing, I've tried it with other tamable mobs but they don't have the same issue, The only other mod I have installed is Dynamic Surroundings, I've disabled it to see if that was the problem and it wasn't

I also found something else, if another mob has hurts me, the big cats wil

[2021-07-20 08:16] ZombieChameleon commented on #32
I uploaded this bug onto YouTube, the video is unlisted but should still be visible through this link, hopefully it should give you more information of what's going on.

https://www.youtube.com/watch?v=Uu04CVASDTI

[2021-07-22 21:27] runningwithscissors1337 opened #36 "Interaction With McJtyLib, Optifine, RFToolsBase, And Several Other Mods Crashes Game"
I have no idea what kind of absurd edge case this specific arrangement causes, but so far I have tested 7 of the mods in my list, and if even one of them is missing the error that crashes the game never occurs (though since many are dependencies for eachother there are still errors). So far I have tested the following:

McJtyLib 1.16-5.0.21
Optifine 1.16.5_HD_U_G8
RFToolsBase 1.16-2.0.11
Cuneiform

[2021-07-22 21:43] runningwithscissors1337 commented on #36
Correction: You can close this issue if you want, while for the first few launches removing Untamed Wilds worked, it no longer does,  I have no clue why. Sorry about this.

[2021-07-22 21:43] #36 closed, assigned to nobody

[2021-07-22 21:57] RayTrace082 commented on #36
Yes, UntamedWilds does not touch Mixins, and that's what is causing your game to fail. I'm quite sure Optifine is the culprit, but with Mixin issues, it's hard to know

While I don't know much about Optifine, try downgrading your Forge version (36.1.10) to 36.1.0, as that's the version that Optifine G8 was built against

[2021-07-24 12:28] Beam196 opened #37 "Suggestion: Accurate version of vanilla tropicalfishes"
list of tropicalfishes:
1.clownfishes: (commons, pinks, tomatoes, saddlebacks, yellowtails)​ they are passive mobs that living in non cold and non frozen oceans can be seen swimming near anemonies in school in 2-4 fishes they drop tropicalfish and bonemeals and rarely clownfish roes and bucketable with water bucket 2.surgeonfishes: (blue tangs, yellow tangs, black tangs, purple tangs, sailfin tang

[2021-07-25 20:34] RayTrace082 commented on #35
Their hunger only increases when they eat Food Items from the ground (or are directly fed by their owner), not when they hunt

You raise a good issue, however, because they will try to hunt if prey is available before stopping to eat dropped items, which may lead to the issue you mention. I will try making mobs earn a bit of hunger when attacking, and have a cooldown between Hunting to correct the

[2021-07-30 21:04] wackoamd1 opened #38 "error server console"
this is whats filling my console at the start or restart of the server
ain/ERROR] [net.minecraft.entity.ai.attributes.GlobalEntityTypeAttributes/]: Entity untamedwilds:bigcat_dire_lion has no attributes

with every single mob from untamed wilds , bug or ??
i also find very little untamed wilds mobs to be honest but that could be just me

[2021-07-31 14:16] RayTrace082 commented on #38
That's a bug, but it shouldn't have any negative effect on your game (basically, I forgot to fully disable a bunch of WIP mobs in the release version)

As for the animal density, it is on purpose pretty low, both to make encounters more memorable, and to allow some kind of balance in the world, because predators will eventually kill every other mob. You can change that from the config file, howeve

[2021-07-31 14:21] #26 closed, assigned to RayTrace082

[2021-07-31 14:29] RayTrace082 commented on #32
Welp, that was really stupid

Basically, it attacks you because you spooked it while it was sleeping, and I am a dunce who forgot to properly check if they are tamed in that one specific instance (Bears have the same behavior, but they properly took that into account)

Thank you for your throughout debugging, it is fixed now for the upcoming version

[2021-08-01 09:58] wackoamd1 commented on #38
all your mobs are giving this error , and they just do ot show up in minecraft ;-(
i now installed spawnbalance utility (new mod for mobs) and there isnt even a trace of untamedwilds in the config file , so i guess minecraft doesnt even load/"see" your MOBS (it does put the flora on the world though) which is a shame cause from the  videos ive seen they look great.

little testing done , clean min

[2021-08-02 02:17] ElifDidemErguven opened #40 "Failure message: Untamed Wilds (untamedwilds) has failed to load correctly"
I created a mod pack with untamed wilds in it i am getting an error message and the server wont launch. Can you tell me how i can fix this?

Details:
        Mod File: untamedwilds-1.16.5-1.3.1.jar
        Failure message: Untamed Wilds (untamedwilds) has failed to load correctly
                net.minecraft.util.ResourceLocationException: Non [a-z0-9/._-] character in path of location: untamedwi

[2021-08-02 11:07] RayTrace082 commented on #37
Sorry, but I am not taking suggestions when it comes to new mobs
That said, I do have models in the oven for at least 2 of those :)

[2021-08-02 11:07] #37 closed, assigned to nobody

[2021-08-03 10:40] Atopik2 opened #41 "Missing texture(purple-black) on some mob variants"
the title says it all and i have optifine 1.16.5 g7

[2021-08-04 15:09] FranPlayer40 opened #42 "Too many snakes! (I can't found any cub either)"
Hello, I am having problems with the snakes, they are generating too many, this causes that in some areas there is lag and also they are aggressive towards almost any mob, one of these got into my pen and killed most of my cows, it is normal that appear so many or is it a bug? If there is any way to change this in any configuration file I would like you to tell me.

PS: I can't find any babies of

[2021-08-04 15:10] FranPlayer40 commented on #42
![1](https://user-images.githubusercontent.com/71850839/128206020-c4a3662d-480d-4903-8a93-dead68629cf4.png)
![2](https://user-images.githubusercontent.com/71850839/128206099-8f6defd8-a3ac-440e-a32b-660e49d4970b.png)

[2021-08-05 09:04] RayTrace082 commented on #42
Babies do not spawn in the wild, you need to breed them yourself by keeping two animals of opposite genders happy (well fed and alone, or whatever you have set in the config)

Chances are that there's a Snake burrow somewhere near spawning all those Adders, killing/removing the snakes and breaking the burrow will solve your problem. Your only other option is disabling Snakes in the config file, bu

[2021-08-05 09:04] #42 closed, assigned to nobody

[2021-08-05 14:58] RayTrace082 commented on #41
I can't do anything without any further information
Does it affect all mobs, or just specific ones? Is it a particular species? Are you using any resource pack? Does it work if you remove Optifine? because it's notorious in modded Minecraft for breaking other mods

[2021-08-06 06:28] BobbyLinMC opened #43 "Tortoise Going Into Their Shell."
Hello, this isn't rlly an issue or complaint, but in Minecraft whenever i approach a tortoise, they keep going into their shells. How do i prevent them from doing that? I'm building an aquarium and the tortoises would be such a great addition to the aquarium. Can I tame the tortoises in order for them to not hide in their shells? Plz reply, thank you. Fantastic mod btw, :)

[2021-08-07 23:19] VampireSpaceCat opened #44 "Spawning Untamed Wilds Mobs kicks player from server, "Packet Processing Error""
[07.08 18:57:31] [Server] [ERROR] Error whilst processing packet net.minecraft.network.play.client.CPlayerTryUseItemPacket@69cf6af7 for Cat_Cowboy[/24.51.191.203:61550]
[07.08 18:57:31] [Server] java.lang.NullPointerExceptionnull
[07.08 18:57:31] [Server] 	at untamedwilds.entity.ComplexMob.chooseSkinForSpecies(ComplexMob.java:109) ~[untamedwilds:1.16.5-1.3.1]
[07.08 18:57:31] [Server] 	at untamedw

[2021-08-14 15:06] RayTrace082 commented on #43
Currently, there's no way to prevent a Tortoise from hiding when a threatening mob (including Players) approaches, I may look into adding such an option in the future, however

[2021-08-14 15:07] RayTrace082 commented on #40
Duplicate of #24

[2021-08-14 15:07] #40 closed, assigned to nobody

[2021-08-14 16:17] RayTrace082 commented on #44
More information? Did you update versions in an existing world? Which mob caused this?

[2021-08-16 06:30] BobbyLinMC commented on #43
Oh ok. Also I've got a few suggestions for the mod in the future updates. Is it possible for you to add more aquatic critters. such as octopus, nautilus shells, angelfish, or any types of fish? I'm planning to build a saltwater themed aquarium. It would also be great if you would add more aquatic plants or more aquatic decorations. (The amazon swords and the eel grass are great decors for my aquar

[2021-08-18 01:32] Bolushi commented on #43
I think he has a lot of plans for the mod considering what it has already. You're definitely going to get more stuff don't worry, but I would suggest next time you make a separate post here about that.

[2021-08-18 01:37] Bolushi opened #45 "Suggestion: Animal Stat Improvements"
While playing I noticed something is a bit odd, Leopards have more health than Jaguars, despite Jaguars being significantly stronger in real life. I also think cave bear hp should be bumped up to around 65, with some health point variation, with males being stronger than females, except for things like hyenas, where the female is always the highest ranking member.

[2021-08-18 01:40] Bolushi opened #46 "Hyenas killing each other?"
I put down around 10 hyenas in an enclosed space, it also had a bunch of bears and big cats, and I immediately noticed the hyenas started fighting each other. I checked to see if species had anything to do with it, but I was spawning the same species. Once there were a bit too many of them they would all fight each other.

[2021-08-18 21:11] Bolushi opened #47 "Rhinos sleeping in/under water"
![image](https://user-images.githubusercontent.com/69613299/129972759-d6bb747b-3a7f-4d75-8835-d637825bb522.png)

[2021-08-19 10:15] BobbyLinMC opened #48 "Snakes Keeps Getting Despawned Even When Named"
Hello. I have an issue with the snakes. I made a terrarium in one of my homes and I had a snake in the terrarium. After the first time the snake despawned. I summoned and placed the new snake in the terrarium and this time I named him. I went away from the terrarium for a while, but when I came back to the terrarium, the snake despawned again. I think he died, because the snake left a snake skin.

[2021-08-20 10:38] VallenFrostweaver opened #49 "Burrow Critters not following despawn request when max range of player is exceeded"
Minecraft 1.16.5
Forge 36.2.2
Untamed Wilds 1.16.5-1.3.1

I changed the config settings of burrows from the default 40 to 2 and it worked so that burrow critters popped back in the burrow (despawned) if the player backed away. The issue is that on the second time a critter spawned from the burrow they then ignored that rule and continued to wander away regardless of player distance. This means it

[2021-08-20 12:08] CaptainFexis commented on #24
I couldnt make the mod work still... Yes, im using the latest version of it and getting the excatly same error.

[2021-08-20 14:03] CaptainFexis commented on #24
[crash-2021-08-20_16.53.26-fml.txt](https://github.com/RayTrace082/untamedwilds/files/7022042/crash-2021-08-20_16.53.26-fml.txt)
Im using the last version but still getting the ''character in path of location: untamedwilds:egg_tarantula_black_and_whıte'' error

[2021-08-22 15:24] RayTrace082 commented on #48
Mobs do not despawn under any circumstance (exception being mobs belonging to a burrow, kinda). There's also a notorious, rare bug in vanilla where a mob close to a wall may suffocate in solid walls: [MC-2025](https://bugs.mojang.com/browse/MC-2025)

That said, the most likely explanation is that some hostile mob spawned/made its way inside the terrarium and angered the snake, which attacked it an

[2021-08-22 15:24] #48 closed, assigned to nobody

[2021-08-23 13:59] RayTrace082 commented on #49
Duh, I was erasing that data when converting mobs into NBT to prevent issues when moving mobs, but forgot that it was really necessary to keep it for mobs that naturally despawn into their burrow

It is now fixed in-dev

[2021-08-23 20:45] antmansel opened #50 "quick and massive reproduction of sharks"
when in the aquarium I gave myself only one shark, after a few days suddenly there were dozens of them and you probably know what my problem is
![2021-08-23_22 22 59](https://user-images.githubusercontent.com/89421688/130516992-75b8fe04-eb54-446c-a842-ece99a2c3afb.png)

[2021-08-24 10:38] RayTrace082 commented on #50
Fixed in-dev, turns out Sharks were missing some checks and could breed with themselves if they are female

[2021-08-26 13:31] Atopik2 commented on #41
it affesct specific mobs like all tarantulas are normal but the tiger and king variations are missing textures is there a way for me to disable only king and tiger tarantulas?

[2021-08-26 13:33] SkullDiamond opened #51 "game crash by untamedwilds:aardvark"
[crash-2021-08-26_15.29.22-client.txt](https://github.com/RayTrace082/untamedwilds/files/7060126/crash-2021-08-26_15.29.22-client.txt)

[2021-08-28 06:08] KATARR69 opened #52 "big mobs attacks player even though theres a solid wall blocking them"
- i put my big cat(untamed) into a 2x2 inclosure made out of glass but when i want to see them i still get hurt even though there is no way i can hit them, also happens with bears, and sharks when im on the beach and it attacks me in a ridicolous range
maybe u should nerf the reach on them?

[2021-08-30 15:45] FlashHUN opened #53 "[Compatibility] Entities cannot be instantiated from EntityType"
Hey there! In my mod, I need to list all living entities registered to the game which I do through an [enum](https://github.com/FlashHUN/FlashNPCs/blob/master/src/main/java/flash/npcmod/core/EntityUtil.java).

However, multiple people have reported that the [game crashes](https://github.com/FlashHUN/FlashNPCs/files/7073019/crash-2021-08-29_20.27.44-server.txt) on world load (when this listing happ

[2021-08-30 21:45] kevdevrev opened #54 "Excessive spawning"
I have hundreds of tortises and snakes spawning in the plains biome, and no matter what I do I cannot exterminate them.
I turned off snakes in my config, and disabled breeding (only by play) and they continue to spawn, killing colonists and villagers, and myself. I have killed at least 200 in the past hour. I don't know if the config options are working, and I read that they spawn per chunk but it

[2021-08-30 22:28] RayTrace082 commented on #52
Should be fixed by the next version

[2021-08-30 22:32] RayTrace082 commented on #54
Disabling stuff from the config only works when it comes to world-gen, they will not remove existing entities in the world
There was a (fixed in-dev) bug that caused burrows to accumulate massive amounts of creatures inside, so this may be the reason why this happened

You should be able to use the following command:
`/kill @e[type=untamedwilds:snake]`
To kill all snakes in the currently loaded ch

[2021-08-30 22:32] #54 closed, assigned to nobody

[2021-08-30 22:50] RayTrace082 commented on #53
Damn, that's a really cool mod
This issue is entirely on my end, as there's a couple WIP entities that I register, but do not have attributes nor renderer assigned, so the game crashes trying to make sense of this. Every other mob should be safe to #create
Do you have some sort of blacklist for the enum? If so, the erroring entities will most likely be `untamedwilds:bigcat_cave_lion`, `untamedwild

[2021-08-31 00:53] kevdevrev commented on #54
Finding a barrow in a grassy plains biome is like looking for a needle in a haystack. This isn't playable and I just realized the server issues I was having was probably due to the 300+ snakes always roaming at my base at any given time.

[2021-08-31 20:44] FlashHUN commented on #53
Thank you!

Yeah, I could blacklist those, but I think people will have to just wait until you release your next update instead. If I blacklist them, that would just mean two featureless updates that do nothing besides adding and removing the blacklist.

[2021-09-01 04:01] Bolushi opened #55 "Suggestion: Pack Animal Coordination"
Things like hyenas should circle their prey then go in for an attack IMO. If they get cornered they'll fight normally.

[2021-09-04 18:47] BlackAures1 opened #56 "Three bugs"
1. A single case of a burrow on the water
![image](https://user-images.githubusercontent.com/43911230/132104820-22e9937a-fbe0-483b-b015-d6cf70682c6a.png)

2. An extremely common and most noticeable bug is that all clams appear on the surface and fall down.
![image](https://user-images.githubusercontent.com/43911230/132104851-b877524c-2888-4aa3-9892-4e7dc4c0b050.png)

3. Arowanas spawn in the sky a

[2021-09-04 20:48] BlackAures1 commented on #56
And..

![image](https://user-images.githubusercontent.com/43911230/132107633-4c3f17de-2b30-4efe-aa44-2ef04020821d.png)

[2021-09-05 22:39] RayTrace082 commented on #46
Can't replicate this one. Hyenas do not attack other Hyena of their same species
Tested with all their assigned Target behaviours (hunger, protecting children, (pack) defense) and none target Hyenas of the same species.

I did notice a small bug where they checked for Lions, instead of Hyenas, so if there were Lions involved, that may have been the cause. While seemingly harmless, I have fixed it

[2021-09-07 23:53] Bolushi commented on #46
I see. I put a bunch of hyenas of the same species in a globe type deal with lions, bears, tigers, etc. That was probably the issue.

[2021-09-07 23:53] #46 closed

[2021-09-12 16:53] Hakkibey1 opened #57 "game crashes while on loading screen when optifine isnt used and i cant join my aternos server with the same version of the mod when i use optifine for some reason"
[crash-2021-09-12_19.45.38-fml.txt](https://github.com/RayTrace082/untamedwilds/files/7149957/crash-2021-09-12_19.45.38-fml.txt)
above is the one without optifine

[2021-09-16 00:28] titaniumman321 opened #58 "just a suggestion"
the mammals should have their own unique sounds , personally the throw off in this mod is the fact that rhinos/hippos sound like cows , aardvarks sound like pigs and all the bears/big cats sound the same which doesn't make sense . But other than that , this mod beats other animal mods in every way.

[2021-09-17 19:43] RayTrace082 commented on #56
1. Fixed in-dev, the fact that Burrows didn't require a block underneath them was unintended and is now fixed

2. This one is has been a massive pain in the ass, and until now, an intended choice, but it has been fixed in the next version (hopefully, without breaking spawning altogether)

3. This one is mostly intended. To avoid having biomes with a lot of water (eg. Swamps) be devoid of life, I d

[2021-09-17 19:50] RayTrace082 commented on #58
Feel free to PR sounds to this repository, because I didn't do that by choice

Royalty-free sound repositories only get you so far when you are looking for obscure animal sounds of consistent quality

I am only looking at exposing the sounds in the sounds.json so they get their own subtitles, and allow players to edit them with a Resource Pack

[2021-09-17 19:50] #58 closed, assigned to nobody

[2021-09-17 19:55] RayTrace082 commented on #57
Duplicate of #24

[2021-09-17 19:55] #57 closed, assigned to nobody

[2021-09-17 22:05] BlackAures1 commented on #56
The point is that they are exactly spawn out on the lilies, not swam there. I was just generating new chunks in creative flight and kept bumping into these creatures.
 _P.s. this problem is number 4 rather. Because in number 3 I wrote about arowanns that die when spawning in foliage._

Mod - https://www.curseforge.com/minecraft/mc-mods/oh-the-biomes-youll-go

[2021-09-18 01:38] titaniumman321 commented on #58
what does PR mean?

[2021-09-20 18:32] #32 closed, assigned to RayTrace082

[2021-09-20 18:32] #47 closed

[2021-09-20 18:32] #49 closed, assigned to RayTrace082

[2021-09-20 18:32] #51 closed, assigned to nobody

[2021-09-20 18:32] #56 closed, assigned to RayTrace082

[2021-09-20 18:33] RayTrace082 commented on #53
Should be fixed now

[2021-09-20 18:33] #53 closed, assigned to RayTrace082

[2021-09-20 18:33] #52 closed, assigned to RayTrace082

[2021-09-20 18:33] #50 closed, assigned to RayTrace082

[2021-09-20 18:34] #44 closed, assigned to RayTrace082

[2021-09-20 18:35] #8 closed, assigned to RayTrace082

[2021-09-20 21:45] baddybadger5 opened #59 "baby saber tooths are invisible"
can you fix it

[2021-09-20 22:39] RayTrace082 commented on #59
🤦‍♂️

Will upload a hotfix with this

[2021-09-20 22:50] baddybadger5 commented on #59
thank you and how long will it take

[2021-09-21 01:53] titaniumman321 opened #60 "question on sound editing"
so how do I edit the sound of each mob then? Since you cant find obscure animal noises that is of the same level of quality

[2021-09-21 17:53] RayTrace082 commented on #60
Make a Resource pack overriding the file paths. [Here is the sounds.json where I define the sounds of the mod](https://github.com/RayTrace082/untamedwilds/blob/1.16.3/src/main/resources/assets/untamedwilds/sounds.json). If a sound is not there, it can't be edited. [Here is also the Minecraft wiki article on the format of sounds.json](https://minecraft.fandom.com/wiki/Sounds.json)
For furthr inform

[2021-09-21 17:53] #60 closed, assigned to nobody

[2021-09-21 21:33] baddybadger5 opened #61 "will this mod come to 1.17 ?"

[2021-09-26 13:57] RayTrace082 commented on #59
Since no further breaking bugs have been reported, I have uploaded the hotfix fixing this

[2021-09-26 13:57] #59 closed, assigned to RayTrace082

[2021-09-27 15:40] apedude26 opened #63 "1.17.1"
come on please update too 1.17.1 it would be best for the mod and there are no good animal mods for 1.17.1 yet

[2021-10-03 01:00] gohkenytp opened #66 "1.17 compatibility"
Is there any way to port this mod to 1.17? Thanks.

[2021-10-03 20:17] RayTrace082 commented on #66
Not gonna happen. I play on 1.16.5. Maybe I will release a 1.17 build as a stepping stone when porting to the much more interesting 1.18, but don't expect anything

Don't abuse the issue tracker

[2021-10-03 20:17] #66 closed, assigned to RayTrace082

[2021-10-03 20:27] RayTrace082 commented on #56
Mobs spawning on lillypads are just seeing it as the closest valid spawn point, and spawning there (when a mob tries to spawn, it will check in multiple directions to ensure a valid spawn), while it looks really dumb, I do not consider it a bug. Mobs are uncommon enough as it is, and I do not consider it fair to players for spawns to be discarded because "lol worldgen"

As for Arowana spawning (an

[2021-10-03 21:02] gohkenytp commented on #66
Sorry, I didn't know. It's just that Minecraft suddenly got updated to 1.17 and then 1.18 and you sometimes never cared about my ideas. I just wanna let you understand. Thanks.

[2021-10-03 22:39] RayTrace082 commented on #66
Apologies for sounding rude. Having people nag about updates gets old fast (this post is the first one that I have not deleted on the spot, since it may get the point across to just tag these as `invalid`)

As for ideas, I don't really take ideas from anyone else. The only exceptions being ideas that polish existing features and inter-mod compatibility (which I sometimes take)

[2021-10-04 06:34] DearGodPLS opened #67 "Mob spawn rate adjustment on the config"
On the new update mob spawning is insane and its starting to lag the game. I've tinkered around the config and yet the problem still occurs; mobs are everywhere on top of trees and even big cats in the middle of the ocean. please for the love of god do something about this, the game is just unplayable.

[2021-10-04 09:49] RayTrace082 commented on #67
Do all mobs do that, or is it limited to a specific subset? Are you running additional mods? It works fine on my machine (mobs spawning in trees is an unintended, but known side-effect of allowing mobs to spawn fine in Jungles)

[2021-10-04 11:52] DearGodPLS commented on #67
All mobs especially hippos are spawning in extremely large groups. Yes I have additional mods installed.

[2021-10-05 03:05] Mr-Syntax opened #68 "1.16.5 crash forge 36.2.0"
Just had this ticking entity crash upon entering the map

ive just added I like wood + byg comp expansion (these are not in the current release might release later tonight)

havent really had it before

here is the log
[crash-2021-10-05_05.02.31-server.txt](https://github.com/RayTrace082/untamedwilds/files/7282459/crash-2021-10-05_05.02.31-server.txt)

[2021-10-05 03:06] Mr-Syntax commented on #68
and this is the pack it happend in
https://www.curseforge.com/minecraft/modpacks/chosencraft

[2021-10-06 10:01] RayTrace082 commented on #68
Sorry, but the stacktrace doesn't point out anywhere in my mod. There's this line:

`Entity's Vehicle: ~~ERROR~~ NullPointerException: null`

That *may* be causing it, but I do not touch vehicles/mounts anywhere in the mod, so there's nothing that could be bugged to begin with. Can this crash be reliably replicated with these mods?

When minecraft crashes, a latest.log file should be generated in

[2021-10-07 04:39] DearGodPLS commented on #67
I've played the mod without any additional mods, and the mob spawning frenzy still persists.

[2021-10-07 10:20] RayTrace082 commented on #67
Can you provide a screenshot? Also, could you delete the config file 'untamedwilds-common.toml' so it can regenerate back to its default values and see if the issue persists?

As it stands, the default spawn rate for the larger mobs should mean that 1 out of every 24 chunks should have a mob (or a pack, in the case of Hippos, Lions, Hyenas and Boars). This value should be closer to 1 out of 32 due

[2021-10-08 00:39] DearGodPLS commented on #67
Removing the config file actually fixed the issue! I checked that the old config file had additional lines to fit the mod with the world generation mod that I had previously installed.

[2021-10-08 10:36] #67 closed, assigned to RayTrace082

[2021-10-17 15:16] Mr-Syntax opened #69 "Lions spawn torches when hitting the player (possibly incompatible with colds steel)"
as the title says, when i was attcked by a lion it would spawn torches at the place i was hit on the ground like when you have the torch bringer enchant from colds steel

it was in this pack

https://www.curseforge.com/minecraft/modpacks/chosencraft

possibly incompatible with this mod

https://www.curseforge.com/minecraft/mc-mods/colds-steel

[2021-10-18 14:31] RayTrace082 commented on #69
Shit

There is no incompatibility here, I do spawn Torches as a quick and dirty check to debug which exact blocks the Lion AI is targeting, but forgot to disable that functionality for the final release. Fortunately, this should only happen when a Lion tries to jump over a gap, and not any other mob

Already solved it, but it's not going to make it into a new release anytime soon

[2021-10-18 20:58] Mr-Syntax commented on #69
ahh well okay you shit happens :D as long as it isent crashing anything im good :)

[2021-10-26 03:28] agileahn2 opened #70 "The egg item does not operate in a multi-server, but operates in a single."
**Describe the bug**
//The sentence may be strange because I am not good at English. I'm sorry.
Even if you hold the egg in your hand and click it right, it doesn't work.
The number of items to know does not decrease. The baby mob is not even summoned.
In the single world, egg items are consumed and baby mobs are summoned.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. open forge serv

[2021-10-31 13:50] RayTrace082 commented on #70
Thank you for being the very first person to provide a bug report on the subject of mob eggs not working, alongside the steps as to how to reproduce it
Will probably be a while until this is addressed, as I am a bit busy, but expect it to get fixed nonetheless

[2021-11-11 09:26] JohnVeritas commented on #24
Hello, I just downloaded latest untamedwilds mod from curseforge looks like this problem is still there.

`-- Head --
Thread: Render thread
Stacktrace:
	at net.minecraft.util.ResourceLocation.<init>(ResourceLocation.java:33) ~[?:?] {re:mixin,pl:accesstransformer:B,re:classloading,pl:accesstransformer:B,pl:mixin:APP:ftblibrary-common.mixins.json:ResourceLocationMixin,pl:mixin:APP:ferritecore.mrl.mi

[2021-11-11 11:13] RayTrace082 commented on #24
At this point I don't have a god damn clue about what causes this shit, random letters being replaced with others that look *almost* the same, but are not part of the alphabet

The good news is that I have reworked everything to do with variants, and the Items that seem to caused this issue (the dynamically created mobs eggs/spawn items) don't exist anymore, and are now condensed into one single I

[2021-11-12 05:53] JohnVeritas commented on #24
Oh I tought it'll took several days for get an answer but a solution already? Damn thank you man! You really care about your project it's nice to see that. Btw, when I changed my windows language to english I had no problem with the mod. I will update the mod and try it on Turkish language and let you know if its solved or not.

[2021-11-14 06:48] devjavu7 opened #71 "Temperate bush breaking animation"
The breaking animation when breaking a temperate bush in survival is "weird" and hard to describe.

Steps to reproduce the behavior:
Break a temperate bush in survival.

![2021-11-14_07 43 15](https://user-images.githubusercontent.com/88561769/141670665-5c9130d1-fb40-4811-8b61-6afdd4bffdbf.png)

 - Minecraft version: 1.16.5
 - Version of the mod: 1.4.1
 - Additional mods: I'm only gonna list the m

[2021-11-17 22:52] Repla7Noobx opened #72 "Mod loading error"
**Minecraft fails to load**

Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed

A detailed walkthrough of the error, its code path and all known details is as follows:
---------------------------------------------------------------------------------------

-- Head --
Thread: Render thread
Stacktrace:
	at net.minecraft.util.ResourceLocation.<init>(ResourceLoca

[2021-11-18 22:54] RayTrace082 commented on #71
While this is a vanilla issue about which I can't do anything about, I can make it less egregious through model magic

Should be fixed by next version

[2021-11-20 01:02] GlowPon3 commented on #70
Having the same issue.  Server is running forge 36.2.0 client is running forge 36.2.9 but everything else seems to work.  Until you get this fixed, is there a inclusive 'favorite food' list somewhere?

[2021-11-21 23:31] TheSleepySpino opened #73 "Trevally Spawns"
**Describe the solution you'd like**
A clear and concise description of what you would like to happen.

I personally would like trevally spawns to be reduced. I, along with many others, have many other animal mods that add plenty of new oceanic animals. The current trevally spawns are rather high, in fact I can't look one direction in a warm ocean without seeing at least one of them. This makes fi

[2021-11-26 10:31] AyenHajar opened #74 "Rare skins not spawing on servers(related to the eggs not working)"
I have found that rare skins for the green arowana are not spawning naturally or with a spawn egg on servers. I have enabled wild rare skins and configs as such in the config files. I have spammed the spawn egg on a private server to find the rare skins don't spawn, however in a single player world rare skins would start to spawn like usual. I have done it several times to confirm my suspicion and

[2021-11-28 01:02] RayTrace082 commented on #74
Yes, most of the Skin system is broken on servers and does not work as intended due to a less-than-ideal approach (the server cannot "see" how many skins exist, yet it is up to the server to assign skins, since they are synced DataParameters)

It is mostly reworked for the next version and works well on servers, with the caveat that the number of skins needs to be directly stated as part of a data

[2021-11-28 01:07] RayTrace082 commented on #73
Huh, while there is indeed an issue with Trevally spawns (mostly, there's not a lot of mob variety in oceans, and Trevallies happen to be the default), it shouldn't matter in this case. Untamed Wilds mobs do not take up any vanilla spawn. That's one of my gripes about mob mods, and why I designed my mod in this way

Here's two possible problems:

* Vanilla mob spawning RNG is screwed. This is hard

[2021-11-28 23:43] AyenHajar commented on #74
How would one state the number of skins as part of a datapack?

[2021-11-30 16:23] #72 closed, assigned to RayTrace082

[2021-12-06 17:59] #71 closed, assigned to RayTrace082

[2021-12-06 20:48] RayTrace082 commented on #70
Should be fixed on the latest version

[2021-12-06 20:48] #70 closed, assigned to RayTrace082

[2021-12-06 20:48] #69 closed, assigned to RayTrace082

[2021-12-06 20:48] #41 closed, assigned to RayTrace082

[2021-12-06 20:49] #38 closed, assigned to RayTrace082

[2021-12-06 20:49] RayTrace082 commented on #68
Closing due to lack of information

[2021-12-06 20:49] #68 closed, assigned to RayTrace082

[2021-12-06 20:55] RayTrace082 commented on #74
It was impossible until the latest alpha. Check out the wiki for the format, and the [entity data](https://github.com/RayTrace082/untamedwilds/tree/1.16.3/src/main/resources/data/untamedwilds/entities) files, which can safely be overriden by datapacks (just copy the file and change any params)

To quote the wiki:

Since you on a server, keep in mind that any new skin needs to also be provided by a

[2021-12-06 20:55] #74 closed, assigned to RayTrace082

[2021-12-07 10:48] Maltshakes commented on #29
Is the only solution to this to disable the generation of bushes, or can the user do something to make bushes inherit biome colors?

[2021-12-07 12:09] Maltshakes opened #76 "Burrows on ice covered rivers"
Found a burrow that spawned on the ice of a frozen river biome. Unsure if this is intended or not

**Screenshots**
https://i.imgur.com/pqszIfS.jpg

**Version (please complete the following information):**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.0

[2021-12-08 15:08] ReneSopG opened #77 "Adding variants to tigers"
Hello, sorry if it bothers, i dont really know where to ask.
I've been trying to add some variants to tigers but i cant make it work. I think the issue its that the tiger texture file from the mod its not numbered like _1, making it impossible to add more.
If thats not the problem i'll put what I tried to do and maybe see if i did it wrong all the time. The resource pack route for the textures its

[2021-12-08 19:42] RayTrace082 commented on #77
Are you using the latest alpha? If so, you will need to use a datapack to override the [big_cat.json](https://github.com/RayTrace082/untamedwilds/blob/1.16.3/src/main/resources/data/untamedwilds/entities/big_cat.json) file, and add the number of skins for the tiger variant there (check the wiki for more info), alongside all relevant .jpgs in a resource pack

If not using the alpha, Big Cats and Be

[2021-12-08 21:15] ReneSopG commented on #77
Got it to work, thank you very much!!!! ^^
Like you said, i needed to modify the json file and put it in the pack

[2021-12-08 21:57] ReneSopG commented on #77
Two more things, do i have to do something more to make de cubs change skin too?
And, there is a issue that the default skin doesnt apparear, instead a untextured big cat (purple and black colors) apparears. Tried to put the default skin in the data pack, or do the same but putting _1 in the name and still happens.
And by the way, when i try to tame a baby big cat it doesnt eat. I tried without th

[2021-12-09 10:46] RayTrace082 commented on #77
The cubs and the parents share the same texture file, so you are editing both by changing the texture, but if you want to give cubs a custom skin, the top-right cluster of textures belongs to them

Basically, if there's one single skin, it will work without a suffix, or with "_1", but if you have multiple skins, then the "_1" on the first one is mandatory. Rare variants need the suffix, no matter

[2021-12-09 12:39] Maltshakes opened #78 "Volume of added animal sounds not based on player position"
**Describe the bug**
The sounds added for animals (for example: big cats, hippos, and bison) do not lower in volume when the player is far away or is walking away from the source of the sound. I tried putting together a short video to show how it compares to vanilla sheep sounds as you get further away.

https://youtu.be/InXmSdvxx3s

**Version (please complete the following information):**
 - Mine

[2021-12-09 15:25] ReneSopG commented on #77
Alright, ill work on it later and inform in any result.
And yes, i was trying to tame cubs, i was testing it on egg generated cubs
Thanks for your time!

[2021-12-11 13:36] Atopik2 opened #79 "Crash on startup"
it just crashes on startup saying that there is a non a-z character in the files ;untamedwilds:egg_trevally_bıgeye notice its ı not i

**Steps To Reproduce**
i dont know but i have the crash report in case you need it

**Crash Log**
---- Minecraft Crash Report ----
// You're mean.

Time: 11.12.2021 15:27
Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed
	at n

[2021-12-11 13:42] Atopik2 commented on #24
i have the same problem keeping me from using this awesome mod in my modpack im using turkish too

[2021-12-11 13:48] Atopik2 commented on #24
it just crashes on startup saying that there is a non a-z character in the files ;untamedwilds:egg_trevally_bıgeye notice its ı not i and yes the turk'sh alphabet has that letter 'm us'ng 1/4/1

[2021-12-11 13:50] Atopik2 commented on #24
@JohnVeritas

[2021-12-11 13:50] #79 closed, assigned to RayTrace082

[2021-12-13 01:32] RayTrace082 commented on #78
Well, this was incredibly stupid

Turns out it's a bug from vanilla [(MC-146721)](https://bugs.mojang.com/browse/MC-146721), and it turns out I just have to change the .ogg files to be Mono instead of Stereo. Will be fixed by next release

[2021-12-13 01:32] #78 closed, assigned to RayTrace082

[2021-12-13 01:44] RayTrace082 commented on #24
This bug is *probably* fixed in the latest alpha version (1.5.0), try that one instead

Didn't close the issue just in case of further issues on the subject, but the whole system that caused this crash (dynamic item instances) got axed

[2021-12-19 22:12] ravennnnko opened #80 "Big cats with no textures and using the lion model"
Randomly found this on a lion pack, cave lion, and any type of big cat
Very common.
![image](https://user-images.githubusercontent.com/96395471/146692883-c1da8329-a909-4e70-9357-4bfdb2f49301.png)
Also applies on adults

[2021-12-29 10:16] Y3Z0N opened #81 "Mod Conflict with ImmersiveFX and Dynamic Surroundings and also wrong .ogg implementation"
The sounds of your Entities are Stereo Files instead of Mono Files.
Please Convert all Entity Sound Files into **MONO File**s.

Using Stereo Files for Mob Sounds is wrong. you should convert them.

[2021-12-29 10:21] Y3Z0N commented on #81
i commited please apply my commit so its fixed asap :)

[2021-12-29 21:56] RayTrace082 commented on #81
Was fixed as part of #78

The version including this fix just got released

[2021-12-29 21:56] #81 closed, assigned to RayTrace082

[2021-12-29 21:57] #80 closed, assigned to RayTrace082

[2021-12-29 21:57] RayTrace082 commented on #23
Added this feature in the latest version, albeit it is limited to datapacks

[2021-12-29 21:57] #23 closed, assigned to RayTrace082

[2021-12-30 20:48] justliliandev commented on #24
@RayTrace082 the error is happening on the i without a dot. That happens when you try to make a string to a lowercase String and you either don't add a locale as a parameter or add the wrong one. Eventhough the error doesn't appear I suggest you to use Locale.ENGLISH for any resourcelocation specific tasks in the future

[2021-12-30 23:48] GAIIGE commented on #24
Ive had an issue with it crashing my server, the snakes keep crashing when rendering, or when struck by a snowball or something not lethal. ---- Minecraft Crash Report ----
// Don't be sad, have a hug! <3

Time: 12/30/21 6:45 PM
Description: Rendering entity in world

java.lang.NullPointerException: Rendering entity in world
	at untamedwilds.entity.reptile.EntitySnake.isRattler(EntitySnake.java:17

[2021-12-31 19:57] RayTrace082 commented on #24
@agnor99 the thing that still baffles me is why some of the variants (all of which are alphanumeric names) had some random letters being randomly replaced by "looks almost the same, but it's not alphanumeric" characters from the computer owner's language, this was not the only instance of this happening

Anyway, removing the whole thing ended up being for the better

@GAIIGE Consider opening a new

[2021-12-31 19:57] #24 closed, assigned to RayTrace082

[2021-12-31 22:01] brianneste opened #83 "Snake Crash"
**Describe the bug**
A clear and concise description of what the bug is.
Crashes when rendering snake sometimes.
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

https://pastebin.com/YbzsyZdR

**Screenshots**
If applicable,

[2021-12-31 22:50] matt3948 commented on #83
Can replicate

Processor    Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz   3.70 GHz
Installed RAM    24.0 GB
GPU: NVIDIA GTX 1080

Minecraft version: 1.16.5
Opti-fine version: 1.16.5_HD_U_G8

[crash-2021-12-31_16.18.20-client.txt](https://github.com/RayTrace082/untamedwilds/files/7797179/crash-2021-12-31_16.18.20-client.txt)

Possible work-around:
     Options -> Video Settings -> Performance

[2022-01-01 00:36] RayTrace082 commented on #83
I am not able to replicate this issue, albeit it should be easy to fix

A couple questions, however:
- Does this happen with a certain variant? or with any of them
- Does the log output anything before crashing? Something like "Couldn't find rattler flag in ENTITY_DATA" before crashing?
- Just to verify, this worlds were created with the latest version, right?

[2022-01-01 04:24] matt3948 commented on #83
Thanks for the quick reply! Realized I was using 1.5.0 not the newest 1.5.1
Going to update and see if I still run into the same issue, but to answer your questions below:

Yes, seems to only be the Red/Black/Yellow normal sized snake.

[2021-12-31-7.log](https://github.com/RayTrace082/untamedwilds/files/7797368/2021-12-31-7.log)
Didn't find it, but I've attached the output just in case you'd like

[2022-01-01 05:55] matt3948 commented on #83
Update:

Did a clean install with untamedwilds-1.16.5.1.5.1.jar without the video setting adjustments above and it crashed upon punching an orange snake. Same error output as before

[2022-01-01 19:44] RayTrace082 commented on #83
Just pushed a hotfix that should hopefully fix this

[2022-01-01 21:28] teeheeee opened #84 "java.lang.StackOverflowError"
java.lang.StackOverflowError
I keep getting this message every time I log on to my server.

I have updated it to the new file uploaded today on the first but I keep crashing getting that message.
I was told by my server host support that the fishes are the reason I am crashing, and when I removed the mod the game went smoothly.

**Version (please complete the following information):**
 - Minecraft

[2022-01-01 23:23] RayTrace082 commented on #84
Consider posting some kind of log if you expect me to fix the problem

[2022-01-02 00:26] jiminn-lee opened #85 "Aardvark Crash?"
**Describe the bug**
Happened after death, went to death location to pick up stuff (Used the [Gravestone Mod](https://www.curseforge.com/minecraft/mc-mods/gravestone-mod)), when I went to the location the screen froze and crashed before breaking the gravestone. After restarting Minecraft I could break the gravestone and move around for a few seconds before it froze again leading to another crash.

[2022-01-02 00:33] matt3948 commented on #83
Thanks, all good so far! Appreciate it immensely.

[2022-01-02 02:12] gitchly commented on #83
Playing on 1.5.2 and it crashed once when punching a snake, but seems to be fixed now.

[2022-01-02 02:23] Christian7573 commented on #83
Appears to work for me. Thank you very much!

Edit: Scratch that, it works sometimes, but me and my friend just punched a black snake and both crashed.

[2022-01-02 11:47] DtZNimpo opened #86 "Server Crash Entity Whale Shark"
It works fine on single player world , using it on a homemade server with java JDK 11.0.12 and forge 1.16.5 36.2.21 it crashes the server as soon as one of them gets chunk loaded. Minecraft 1.16.5

[code]

[2022-01-02 14:44] RayTrace082 commented on #86
Version? Because 1.5.2 does fix a Whale Shark server crash

[2022-01-02 17:21] pvtnova commented on #83
Just updated to the latest mod version, still experiencing the Rattler crash as well.

Crash report:
---- Minecraft Crash Report ----
// Daisy, daisy...

Time: 1/2/22 12:16 PM
Description: Rendering entity in world

java.lang.NullPointerException: Rendering entity in world
	at untamedwilds.entity.reptile.EntitySnake.isRattler(EntitySnake.java:168) ~[?:1.16.5-1.5.2] {re:classloading}
	at untamedwil

[2022-01-02 18:12] DtZNimpo commented on #86
it's 1.5.1... I will update it thanks!

[2022-01-02 18:55] DtZNimpo commented on #86
whelp with 1.5.2 now my client crashed by a rattlesnake
the server seems to have survived the client crash

[code]

[2022-01-02 21:56] RayTrace082 commented on #86
This is now a duplicate of #83, closing this one

[2022-01-02 21:56] #86 closed, assigned to RayTrace082

[2022-01-02 22:28] matt3948 commented on #83
Same here - I have crashed again with the new version as well, and a new world created

[crash-2022-01-02_16.24.03-client.txt](https://github.com/RayTrace082/untamedwilds/files/7799878/crash-2022-01-02_16.24.03-client.txt)

[2022-01-04 10:56] ravennnnko opened #89 "Big cats with no textures. Again."
The big cats with no textures bug is still not patched. Still present in lion groups

[2022-01-05 13:04] flareofghast commented on #83
Snake crash on rendering - do have optifine - v 1.5.0.
**[snake-crash](https://pastebin.com/yWm6Yigr)**
I'll upgrade and try again, just posting this in case it helps track down some issues.

[2022-01-05 13:33] flareofghast commented on #83
Not as bad for this snake time. Happened when chopping the red, yellow and black with iron sword.
[snake-crash 2](https://pastebin.com/UgsaZMYr)

[2022-01-05 13:47] flareofghast commented on #83
I didn't even see the snake this time - both this and the last was 1.5.2.
[snake-crash 3](https://pastebin.com/JKL92Epy)

[2022-01-06 03:05] flareofghast opened #90 "Server crashes at certain point."
**Describe the bug**
Server crashes

**Steps To Reproduce**
It now crashes when my son enters the game.

**Crash Log**
[crashed](https://pastebin.com/TxG9ccxb)

**Version (please complete the following information):**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.2
 - Additional mods: please see the crashlog

[2022-01-06 10:52] flareofghast commented on #90
Just a note, I tried updating Java to v15 (was 11), no change in behaviour.
Also tried disabling all mobs in config with no change and changing the master switch in config with no change.

[2022-01-06 17:39] RayTrace082 commented on #89
Different issue, this had to do with mobs in a pack occasionally inheriting attributes from a different variant (in this case, Lions thinking they had the multiple skins of Leopards)

Should be fixed now

[2022-01-06 17:39] #89 closed, assigned to RayTrace082

[2022-01-06 17:45] RayTrace082 commented on #83
Pushed a new version which should (again) hopefully fix this

[2022-01-06 17:49] RayTrace082 commented on #76
Mostly intended, as Ice is a valid block when it comes to spawning, the burrow will just break if the Ice under it melts
That said, I'll remove Salamanders from frozen rivers, since it's pretty dumb

[2022-01-06 17:49] #76 closed, assigned to RayTrace082

[2022-01-06 17:52] RayTrace082 commented on #85
Can't replicate this at all, but I have changed the skins to return an empty resource location instead of crashing
There will probably be a burrow with Aardvarks with a missing texture, however, but nothing major

[2022-01-06 22:00] flareofghast commented on #83
Thanks. I have played it on a server and it seems to work OK. I spawned in a few snakes using the spawn eggs and it didn't crash when I killed them or punched them.
Being incompatible with a world generated earlier sort of sucks.
Quick question, what happens if I turn snakes off after world generation? will they no longer render in and we will not encounter them or is the config only changing worl

[2022-01-06 23:06] RayTrace082 commented on #83
Uhhh, the disclaimer about compatibility only applies to pre-1.5.0 worlds, you are good to update between 1.5.X worlds (the ones with crashing snakes), the worst that may happen should be existing Rattlesnakes not rattling

Will close the issue tomorrow unless someone reports further issues

[2022-01-06 23:06] RayTrace082 commented on #90
Disabling stuff does not retroactively remove them from the world, and seeing the log, I can't pinpoint what is the reason why this mob spawned with a bad variant (99, the value I use to mark an entity for removal), but I have added a couple fallbacks when an entity with variant 99 tries to load, which **may** fix this problem after rebooting

[2022-01-07 01:22] flareofghast commented on #90
#83 may be related
Trying to boot up my previous server with the new version [crashed on load](https://pastebin.com/FCw26Sjb).

[2022-01-07 01:41] flareofghast commented on #90
Restarted it with 1.5.2 and it did the same thing. Copied back 1.5.3 and this time it started up.... go figure.

[2022-01-07 02:37] juan-db commented on #90
It looks like I am having the same issue.

Leaving the crash report here in case it might provide some additional insights.
https://pastebin.com/jCXkeDn6

[2022-01-07 07:12] not-a-squid opened #91 "[alpha-1.5.3] minor inconsistencies and possible bugs"
**Describe the bug**
there's a few things that i've noticed since updating to 1.5.2 and 1.5.3:

-big cats show up as entity.untamedwilds.big_cat

-entities spawn on top of trees (even in not too dense of forests) or inside of blocks waaay too often and either suffocate or fall to their death

-a lot of spawning inconsistencies that im assuming isn't technically a bug, but more so just how it's set

[2022-01-07 11:34] RayTrace082 commented on #90
Forgot to mention, but the "fix" was only added in 1.5.3 (not really a fix, since I still don't know what caused it, but if the issue happens again, on reboot it should lock entity variants to a valid value)

@juan-db You are using an outdated version, update the mod

[2022-01-07 12:06] RayTrace082 commented on #91
A PR to fix this will be merged when I manage to wrestle with git, and it doesn't really hurt the game anyways

Intended, every entity spawning on top of a tree is an entity that wouldn't have spawned otherwise. It's also pretty much mandatory to get mobs spawning in Jungles at all. It does indeed look really stupid, and I am looking at ways to reduce the extent in which it happens

Both Hyenas an

[2022-01-07 12:06] #91 closed, assigned to RayTrace082

[2022-01-07 21:57] #83 closed, assigned to RayTrace082

[2022-01-08 02:19] flareofghast commented on #90
crash on starting the server, but then runs next time I start the server.
[crashed](https://pastebin.com/0naMtggw)

[2022-01-08 03:10] juan-db commented on #90
@RayTrace082 I did try with the most up-to-date version of the mod after posting the crash report last time, but I got a very similar, if not the exact same, exception: https://pastebin.com/83L2a7ta

[2022-01-08 23:38] ravennnnko commented on #89
👍

[2022-01-09 00:23] flareofghast commented on #90
heres another  [crash on connection](https://pastebin.com/NWDummpZ)

[2022-01-09 04:33] flareofghast opened #92 "Crash on critter_burrow near/in water"
**Describe the bug**
I was boating along and it crashed.

**Crash Log**
[appears to show critter_burrow](https://pastebin.com/YJNheLVm)

**Version (please complete the following information):**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.3

[2022-01-09 06:27] WabashCannon opened #93 "Cage crashes when capturing some modded creatures"
Game crashes when cage fails to cast modded mob to ComplexMob

Steps to reproduce the behavior:
Attempting to capture a goblin from the goblin traders mod in a cage causes a game crash.

**Crash Log**
[log](https://pastebin.com/STF2XRvW)

**Version (please complete the following information):**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.3
 - Additional mods: https://www.curseforge.com

[2022-01-09 12:08] flareofghast opened #94 "Arowana crash"
**Describe the bug**
I believe a similar issue as snakes

**Crash Log**
[arowana crash](https://pastebin.com/rAmpFxMF)

**Version (please complete the following information):**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.3

[2022-01-09 14:53] RayTrace082 commented on #93
Of course, this is the mandatory "I forgot to disable a debug thing" crash. Expect another version sometime today

[2022-01-10 05:59] Christian7573 commented on #94
I've also encountered this issue. I tried quick-patching with try-catch block around the sound code, but then it popped up somewhere else too. I assume the "species type" being passed to `speciesData.get(i)` is the issue. Worth noting that I've never had this crash when running a world with the client, it's only happened when running on a dedicated forge server.

Seperate crash log:
[code]

[2022-01-10 21:44] RayTrace082 commented on #94
I fixed the underlying issue in-dev, this one was a shitty side-effect of trying to limit the variant of entities with variant 99 to retroactively correct any crashing entities on a new load

It turns out that the overloaded method for creating an entity `EntityType.create()` does also play the Ambient Sound for the entity, without ever checking if the entity even exists

Since I create a fake ent

[2022-01-13 12:19] flareofghast commented on #94
Hi there. I am wondering if there is a new version to be compiled?

[2022-01-15 09:03] gglobensky opened #95 "Critical error detected whilst generating Feature [minecraft:chance,minecraft:decorated,untamedwilds:burrow]"
**Describe the bug**
Server crashed when flying around on homemade server

**Steps To Reproduce**
Steps to reproduce the behavior:
Seem to be related to Terraforged generation and untamed wilds burrow

**Crash Log**
https://pastebin.com/pKQjkv4n

**Version (please complete the following information):**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.2 Alpha
 - Additional mods: Terraforged,

[2022-01-15 14:14] PhweeDev commented on #95
This also happens, TerraForged or not. on all 1.5.x versions

[2022-01-17 23:52] RayTrace082 commented on #90
Released a new version a couple days ago, since I never managed to replicate this, is there any news on whether this has been fixed?

If there's still issues loading old worlds, do those issues also arise on a new world?

[2022-01-17 23:58] RayTrace082 commented on #95
I got this report after having done some small refactors in the Burrow class logic (which includes the code pointed by the log). Can't say if this issue has been fixed, but it *may* have been addressed in the latest version, any news?

[2022-01-18 03:06] gglobensky commented on #95
I hadn't updated because the changelog didn't mention this bugfix. I will update and keep you posted!

[2022-01-18 08:17] juan-db commented on #90
I encountered the bug again in another save, but after updating the mod I was able to load into the world without crashing. I haven't encountered again the bug since.

[2022-01-18 16:49] gohkenytp opened #96 "Porting the Untamed Wilds mod to 1.18"
Just to make sure this needs to be ported to 1.18 all the way.

[2022-01-18 17:45] #96 closed, assigned to RayTrace082

[2022-01-18 17:46] #93 closed, assigned to RayTrace082

[2022-01-19 00:00] TheSleepySpino opened #97 "Aternos server issues"
I'm trying to set up a zoo server for a couple of friends on Aternos, and I really want to have this mod in it, but whenever I add it, no matter the version of the mod, it won't let me join the server, even with the same version on both the server and in my files, idk why this is happening but it's only this mod.

[2022-01-19 20:14] TheSleepySpino commented on #97
Tells me "Failed to synchronize registry data from server, closing connection." every time I try to join, the Aternos log doesn't tell me why, but I just looked at the MultiMC log and it looks more helpful, looks like something with spawn eggs.

[15:06:13] [Netty Client IO #0/ERROR] [ne.mi.fm.ne.NetworkRegistry/NETREGISTRY]: Channels [environmental:login,untamedwilds:main,alexsmobs:main_channel,ci

[2022-01-19 23:37] RayTrace082 commented on #97
Can't help you there, there's absolutely nothing special that could single out Bear, Big Cat and Shark spawn eggs. If there was any issue with them, it should also trigger for every other spawn egg. My only guess is that you have added/removed mods on the server without regenerating the world

I looked a bit into the problem, and found a thread on the Forge forums on a similar issue

From [this th

[2022-01-20 01:26] TheSleepySpino commented on #97
Although I've installed mods without regenerating the world before, I've regenerated the world now, and the same issue shows up again.

[2022-01-30 00:56] cyanidearsenic opened #98 "1.16.5 Wild Animals Following?"
Hi,
I just started looking at a modpack ([Let's Build a ZOO](https://www.curseforge.com/minecraft/modpacks/lets-build-a-zoo-1-0)) in version 1.16.5 and while exploring in peaceful I walked past a mountain lion and a black bear, both asleep, from your mod and now, despite having not interacted with them at all, they are both following me. The mountain lion has been following and shoving into me for

[2022-02-05 15:16] RayTrace082 commented on #98
Uhhh... I pretty much never took Peaceful mode into account when designing the mod, outside of what vanilla handles (which, to be fair, is most things), chances are this is the case for the sleep aggression behavior, so the mob will chase you, trying to attack you, but the attacks can't happen, because the world is on Peaceful

You can probably avoid this issue entirely by setting the 'angry_sleep

[2022-02-09 20:13] LidorPrototype opened #99 "Version Question"
Will this be supported on version 1.18.1?

[2022-02-10 20:20] #99 closed, assigned to RayTrace082

[2022-02-10 21:08] LidorPrototype commented on #99
Can you at least explain why you closed it without a statement beside labeling it as invalid?
@RayTrace082

[2022-02-11 23:11] RayTrace082 commented on #99
Because you don't care enough to check the templates

But given that I never disabled blank issues, there's a chance it never popped up

Yes. I have been working on 1.18 for a while, but given that sub-versions were guaranteed to happen, I have been taking the time to improve some textures, and clean up some of the code. There will probably be nothing for 1.18.1, and since there's a chance we are

[2022-02-12 23:02] hu7x opened #100 "SpawnEgss Error On Multiplayer Game"
**Describe the bug**
This mod Spawn Egg use exception

**Steps To Reproduce**
1.Create and Join a multiplayer game
2.Choose Spawn Egg,And use it
3.Console Print NullPointerException :(
4.If use Turantula or Snake Egg,Will not spawn anything

**Crash Log**
https://pastebin.com/hYBnXNYK

**Screenshots**
None

**Version**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.4.1
 - Additional mods: U

[2022-02-14 11:10] ravennnnko opened #101 "Incompatibility w/ Morph Mod"
When morphing into a big cat i've noticed that its invisible when morphed into, same for all the mobs in this mod

Maybe caused by this:
![image](https://user-images.githubusercontent.com/96395471/153853213-ff095327-c3dd-4a2e-8bf7-9358b083ca77.png)

Compatible with Hotfix 1.4.1 though.

[2022-02-14 11:11] ravennnnko commented on #101
-Compatible with Hotfix 1.4.1 and below.

[2022-02-14 11:13] ravennnnko commented on #101
Also the health is kinda buggy. The mountain lion should have around -28hp ish, but with 1.5.0 and above it has instead 40hp, i think this is the same for all the mobs but with different health from the original.
Maybe caused by the change i just mentioned.

[2022-02-15 11:59] RayTrace082 commented on #100
Update the mod to one of the more recent Alpha versions, this issue has been fixed there

[2022-02-15 11:59] #100 closed, assigned to RayTrace082

[2022-02-15 15:44] RayTrace082 commented on #101
Don't expect the Morph mod to work, at all. It is fundamentally incompatible with how I manage entity data (including HP/Attack values, skins, variants and scale) by default

And yes, you got it right, this issue was caused by unifying Bear and Big Cat species into a single entity instance, which I have no plans to roll back

That said, this issue seems pretty easy to fix, taking a look at the Mor

[2022-02-17 07:41] ravennnnko commented on #101
Right.

[2022-03-09 11:29] RayTrace082 commented on #90
Gonna guess these issues got fixed due to the lack of posts, so closing the threads

[2022-03-09 11:29] #90 closed, assigned to RayTrace082

[2022-03-09 11:30] RayTrace082 commented on #94
Gonna guess these issues got fixed due to the lack of posts, so closing the threads

[2022-03-09 11:30] #94 closed, assigned to RayTrace082

[2022-03-09 11:30] RayTrace082 commented on #92
Duplicate

[2022-03-09 11:30] #92 closed, assigned to RayTrace082

[2022-03-09 11:30] RayTrace082 commented on #95
Gonna guess these issues got fixed due to the lack of posts, so closing the threads

[2022-03-09 11:30] #95 closed, assigned to RayTrace082

[2022-03-11 00:09] baddybadger5 opened #102 "i think the bear and big cat spawn eggs should be seperated again, it was much better that way"
*Before submitting a feature request, be warned, suggestions relating to version changes and/or additional mobs will be deleted. Please, delete this disclaimer before submitting a feature request*

**Is your feature request related to a problem? Please describe.**
i think the bear and big cat spawn eggs should be seperated again, it was much better that way

**Describe the solution you'd like**
th

[2022-03-11 10:11] RayTrace082 commented on #102
Not happening

It's meant to allow me (or anyone else) to add/remove variants without having to deal with a massive number of Spawn Eggs, and I love how convenient it is

[2022-03-11 10:11] #102 closed, assigned to RayTrace082

[2022-03-13 13:49] SharkGuy123 opened #103 "Hippo moves slowly (1.18.1)"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please compl

[2022-03-13 13:53] SharkGuy123 opened #104 "Shark can attack their prey from below and jump out of the water."
*Before submitting a feature request, be warned, suggestions relating to version changes and/or additional mobs will be deleted. Please, delete this disclaimer before submitting a feature request*

**Is your feature request related to a problem? Please describe.**
If applicable, please provide a clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and

[2022-03-13 23:40] SharkGuy123 opened #105 "Mobs can eat food thrown by players"
*Before submitting a feature request, be warned, suggestions relating to version changes and/or additional mobs will be deleted. Please, delete this disclaimer before submitting a feature request*

**Is your feature request related to a problem? Please describe.**
If applicable, please provide a clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and

[2022-03-14 08:42] DarkLordFG opened #106 "ERROR"
![Screenshot_14](https://user-images.githubusercontent.com/101553587/158135735-3f942ad6-75a0-408c-aebe-ad721c29054c.png)
![Screenshot_15](https://user-images.githubusercontent.com/101553587/158135742-793ce1ff-9825-4496-9c38-38b360a4ef39.png)
I have this error I try yo create server how I fix that can you help me pls

[2022-03-15 15:10] SharkGuy123 opened #107 "Big cat jump attack only (1.18.1)"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please compl

[2022-03-17 21:10] RayTrace082 commented on #106
That's a really old version, update the mod to any of the 1.5.x versions

[2022-03-17 21:10] #106 closed, assigned to RayTrace082

[2022-03-18 00:20] SharkGuy123 opened #108 "Hippo moves slowly"
**Describe the bug**
That happened in minecraft 1.18.1.

[2022-03-18 00:20] #103 closed, assigned to RayTrace082

[2022-03-19 08:04] Lemonmito opened #109 "Right-clicking a tarantula crashes the game."
**Describe the bug**
Right-clicking a tarantula crashes the game.

**Steps To Reproduce**
1. Right-clicking a tarantula
2. Game crashed

**Crash Log**
https://mclo.gs/TvD6DYH

**Version (please complete the following information):**
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.4
 - Additional mods: see crash-reports

[2022-03-19 08:22] Lemonmito commented on #109
This issue is caused by armorcurve, sorry, please close this issue.

[2022-03-19 08:22] #109 closed, assigned to RayTrace082

[2022-03-20 00:11] #107 closed, assigned to RayTrace082

[2022-03-27 15:46] Plopkus opened #110 "java.lang.exceptionininitializer error: null"
Hi, I would like to report a bug, what I have at the moment, I don't know if it's a mod or a forge I'm playing on, but it seems to me that it's rather the mod's fault, I report this problem, which is when I enter the game it pops up me information shown in the photo .

![image](https://user-images.githubusercontent.com/96355667/160289184-5965ae8b-f045-45ba-9e66-04b9b619ba51.png)
 i'm useing only t

[2022-03-27 18:58] #110 closed, assigned to RayTrace082

[2022-04-01 23:46] RayTrace082 commented on #108
Fixed in 1.18.2

[2022-04-01 23:46] #108 closed, assigned to RayTrace082

[2022-04-02 00:18] Daihok41 opened #111 "Updated 1.18.2 Version fails to load on server"
**Describe the bug**
Updated 1.18.2 Version Falis to load on server. It does Load with game though.

Here is the Crash report
https://pastebin.com/DQEnWkjh

**Steps To Reproduce**
Steps to reproduce the behavior:
 Start Server, Server wont Load

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

https://pastebin.com/DQEnWkjh

**Version (please complete

[2022-04-02 20:09] RayTrace082 commented on #111
Fixed, will wait until tomorrow to see if any other game-breaking issues arise before releasing an update

[2022-04-02 20:12] RayTrace082 commented on #105
This *should* already be a thing, at least for the mobs that do eat Items (if it's not properly working, consider it a bug)

[2022-04-02 20:12] #105 closed, assigned to RayTrace082

[2022-04-03 13:35] #111 closed, assigned to RayTrace082

[2022-04-03 17:43] Peach774 opened #112 "[1.18.2] Mobs spawn on leaves"
**Describe the bug**
Leaves are not supposed to be spawnable blocks, but they are spawning on top of trees, which means the animal AI breaks down and they don't move because they have nowhere to go.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Create a new world (might require BoP since they add more tall trees)
2. Fly around in creative and find animals in trees doing nothing.

**V

[2022-04-03 19:35] jackowacko14 opened #113 "cant tame any animals"
cant tame any animals i am in new version
idk wat to do

**Version (please complete the following information):**
 - Minecraft version: [1.18.2]
 - Version of the mod: [newest version]

[2022-04-03 22:23] RayTrace082 commented on #113
Only baby animals can be tamed

[2022-04-03 22:23] #113 closed, assigned to RayTrace082

[2022-04-03 23:52] jackowacko14 commented on #113
hey i just wanted to say ik but i cant tame babies to?

[2022-04-04 23:49] jackowacko14 opened #114 "cant tame any animals even babbies"
cant tame any animals even babbies newest version let me know why

[2022-04-05 15:10] RayTrace082 commented on #114
Just tested on 1.18.2, and it works correctly

Every variant has its own favorite food, [you can find them by digging through the .json files here](https://github.com/RayTrace082/untamedwilds/tree/1.16.3/src/main/resources/data/untamedwilds/entities), and only Mammals can be tamed (with the exceptions being Manatees, Hippos and Aardvarks)

As some caveats, using the wrong kind of food gives no fee

[2022-04-05 23:12] SkinneyMcKinney opened #117 "I cannot tame any animals either im not sure whats the cause. I cant even feed them there favorite food."
**Describe the bug**
A clear and concise description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please compl

[2022-04-06 03:02] aeddog opened #118 "Can't Tame Mobs 1.16.5"
First- I see other people have reported this but I thought I would be more detailed to help more hopefully.

Can't tame anything other than bears. I'm playing 1.16.5, and I'm using the foods that are said on the CurseForge description of the mod.

**Steps To Reproduce**
Tried to tame hyenas, rhinos, multiple species of big cats, and bears. All bear species worked, none of the others did.

**Versio

[2022-04-06 20:16] RayTrace082 commented on #118
Welp, thank you for providing a replicable bug report

Turns out that during the 1.16 -> 1.18 transition, the function that checks if an item triggers breeding got it's name remapped into a different function

Should have a fix ready sometime soon

[2022-04-06 20:16] RayTrace082 commented on #117
Duplicate

[2022-04-06 20:16] #117 closed, assigned to RayTrace082

[2022-04-06 20:17] RayTrace082 commented on #114
Found the bug, closing this issue for the better documented #118

[2022-04-06 20:17] #114 closed, assigned to RayTrace082

[2022-04-06 21:16] aeddog commented on #118
Cool! Glad I could help. I really like this mod, I used to use DrZharks Mo Creatures a lot but I'm trying similar ones. This one has been my favourite I've found so far!

[2022-04-07 15:17] DigitalWendigo opened #119 "Sounds of Boars can be heard right next to the player despite them being several blocks away."
**Describe the bug**
When near any wild boar, you'll hear the oink. But when you walk away from it, up to at most 20 or so blocks in all directions, the oinking is still heard as if it's right next to you and it's pretty loud.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Play minecraft 1.16.5, Untamed Wilds 1.14.1
2. Find a wild boar.
3. Walk near it to start the sound.
4. Walk away

[2022-04-07 17:20] RayTrace082 commented on #119
Update to any of the alpha versions (1.5.X), this was fixed there a while ago

[2022-04-07 17:20] #119 closed, assigned to RayTrace082

[2022-04-07 17:24] RayTrace082 commented on #112
Leaves are spawnable blocks, otherwise Jungles (or densely vegetated biomes from mobs) would be barren

Every mob (or pack thereof) that spawns on top a tree is a mob that would, otherwise, not have spawned. I will be adding a config option so you can fine-tune this behavior (or just disable this) in the next version, but it's intended, even if it looks bad

[2022-04-08 01:50] Mooge123 opened #120 "Manatees just keep spawning"
I know mobs are supposed to reproduce naturally but these sea potatoes seem to have found the secret to making a ton of themselves. They just keep growing and I cannot bring myself to purge them as they are just adorable, yet it is kind of getting out of hand. The world is not even that old, with just over an hour in the world/area.
There are as of writing this 255 of them, and I'm pretty sure the

[2022-04-08 14:13] Subthy opened #121 "Tarantula extermination suggestion."
**Describe the solution you'd like**
It would be cool, if you jumped on tarantula they would get squished.

**Describe alternatives you've considered**
If that can't be added, it would be cool if the lizards and snakes would eat tarantulas, as they do it in real life,

**Additional context**
I just want tarantulas gone in on way or another, if I can't end them, then something else should end them.

[2022-04-08 14:53] Subthy opened #122 "Hitbox fixing."
**Is your feature request related to a problem? Please describe.**
Well, when you resize a mob, the hit box is not readjusted to the scale and remains the same size.

**Describe the solution you'd like**
I want that hitbox can be resized the same as the scale of the mob.

**Additional context**
For example if you resize tarantula like 4x as large, the hitbox will still remain the same.

[2022-04-08 20:50] RayTrace082 commented on #120
What the fuck?

Yeah, while pretty funny, this is 100% unintentional and warrants a hotfix. Turns out that the sea potatoes are set to breed like Fish, and not like Mammals. Thank you for the report

[2022-04-09 06:57] Cixon opened #123 "[1.16.5] [1.5.4] Servers do not work at all."
**Describe the bug**
Joining a forge server with Untamed Wilds installed prompts "Failed To Synchronize Registry Data From Server" error to client. Uninstalling mod fixes the issue.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install any 1.16 forge server.
2. Install 1.5.4 Untamed wilds on both client and server.
3. Join the server.
4. See error.

**Crash Log**
N/A

**Screenshots**

[2022-04-10 02:27] Zerb7 opened #124 "No config options"
**Describe the bug**
I am unable to configure the mod from the mod menu within Minecraft.
**Steps To Reproduce**
Steps to reproduce the behavior:
N/A

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

**Screenshots**
![image](https://user-images.githubusercontent.com/103344292/162598503-af2923ee-6e20-4884-9735-3dc10f503189.png)

**Version (please compl

[2022-04-10 14:55] RayTrace082 commented on #123
These errors can arise from a version mismatch between the server and the client, I can't do anything about it anyways without a log from the server

[2022-04-10 15:02] RayTrace082 commented on #124
Will leave the issue open as a reminder, but I don't have short-term plans to rework Configs to be compatible with this, and it doesn't really have an impact on the game itself

[2022-04-11 16:26] #85 closed, assigned to RayTrace082

[2022-04-11 16:27] RayTrace082 commented on #112
I have toned down heavily the leeway mobs get when spawning, so there should be no more mobs on top of trees, but can be replicated with the "treeSpawnBias" parameter in the Config file

[2022-04-11 16:27] #112 closed, assigned to RayTrace082

[2022-04-11 16:28] #120 closed, assigned to RayTrace082

[2022-04-11 16:28] #118 closed, assigned to RayTrace082

[2022-04-11 16:28] #84 closed, assigned to RayTrace082

[2022-04-11 19:05] Cixon commented on #123
I’ll get a log later today.

[2022-04-11 19:14] Peach774 opened #125 "Config Options to Disable Animals do not work"
**Describe the bug**
I have disabled boars and snakes but they still spawn in new worlds along with their associated features.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Disable a mob
2. Create a new world
3. The mob still spawns

**Version (please complete the following information):**
 - Minecraft version: 1.18.2
 - Version of the mod: 2.1.2

[2022-04-11 21:23] RayTrace082 commented on #121
I am not updating 1.16.5 to get parity with 1.18, since the background code has simply changed too much to be worth the effort, but I may port the new mobs to 1.16.5, since those are quite straightforward to do

Will leave the suggestion open, but Mario-stomping Tarantula probably won't happen, consider destroying Tarantula burrows instead (right-click with an empty hand to check what mob is insid

[2022-04-13 20:11] Cataraxts opened #126 "**Crash on client when right clicking a mob with a item in hand**"
**Describe the bug**
Client crashes whenever a person right clicks a mob with any item in hand. Server is being utelized.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Walk up to a untamedwilds mob.
2. Right click on them.
3. Recieve crash report.

**Crash Log**
https://pastebin.com/cFbmCpKk

**Screenshots**
See crash report above.

**Version (please complete the following informatio

[2022-04-14 07:18] BlackAures1 opened #127 "Crash untamedwilds-1.18.2-2.1.2"
**Describe the bug**
Crash for unknown reasons. It was just a lightning strike. The crash report only mentions untamedwilds.world.gen.feature.FeatureCritterBurrow@68f0f3b5

**Crash Log**
All details here
[message (16).txt](https://github.com/RayTrace082/untamedwilds/files/8487075/message.16.txt)

[2022-04-14 14:10] RayTrace082 commented on #125
Those config options are deprecated and will be completely gone soon™

The intended way to disable mobs is through a datapack

[2022-04-15 19:35] Frroqqy commented on #121
oh yeah please do backport the new mobs to 1.16.5 as i still play on 1.16.5 and would love to see them

[2022-04-16 00:19] Cixon commented on #123
**got it here (line 1009):**
[latest.log](https://github.com/RayTrace082/untamedwilds/files/8498973/latest.log)

**additional context:** can confirm i am using the same version for both client and server. this error could arise from a variety of reasons...perhaps it has something to do with a different mod that might be contesting with some of your code? not sure..but i do know that this error doe

[2022-04-16 05:27] SharkGuy123 opened #128 "Improved bigcat anmations"
I think the animations doesn't naturally and delay, so u can consider my suggest.

[2022-04-16 06:27] shaaaak opened #129 "How can i get love potion？"
*Before submitting a feature request, be warned, suggestions relating to version changes and/or additional mobs will be deleted. Please, delete this disclaimer before submitting a feature request*

**Is your feature request related to a problem? Please describe.**
If applicable, please provide a clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and

[2022-04-16 07:04] shaaaak commented on #129
hello？

[2022-04-16 08:59] Daihok41 commented on #126
Have gotten this same crash as well several times

[2022-04-16 08:59] Daihok41 commented on #127
Also get this crash with the critter burrow

[2022-04-16 11:07] shaaaak opened #130 "How can i breed these mob"
what is the breeding mode of each mob?

[2022-04-16 13:01] RayTrace082 commented on #123
Alright, I think I know the cause

Either the server or the client (if I am reading the log correctly, the client) has disabled Newts in the config, while the other side has not done so, so there is a mismatch where the server expects those items to exist, but the client doesn't have them

Either copy your client's config into the server, or pull the server's config into your client, and the issue

[2022-04-16 13:03] RayTrace082 commented on #129
Debug item, not intended to be obtainable

Nothing stops you from adding a recipe for it through a datapack or CraftTweaker, however

[2022-04-16 13:03] #129 closed, assigned to RayTrace082

[2022-04-16 13:43] shaaaak commented on #129
thanks，i m really like that mod！

[2022-04-16 14:15] Evilteen18 opened #131 "i have this mod on my server but it keeps crashing me"
here the crash report

---- Minecraft Crash Report ----
// Hey, that tickles! Hehehe!

Time: 4/15/22, 9:52 PM
Description: Ticking entity

java.lang.NullPointerException: Cannot invoke "net.minecraft.sounds.SoundEvent.m_11660_()" because "sound" is null
	at net.minecraft.world.entity.Entity.calculateEntitySoundOffset(Entity.java:8752) ~[client-1.18.2-20220404.173914-srg.jar%23201!/:?] {re:mixin,pl

[2022-04-16 14:43] KeyesArc opened #132 "Blacklisting Dimensions"
We should be able to blacklist the mobs from this mod to spawn in specific dimensions..
I'm having a problem with this mod's mobs spawning all over my dimensions, and I wanna be able to blacklist those dimensions.  I didnt had this problem with any of my other mods, cause they all have a way to blacklist dimensions in the config files. yours kinda don't :/

[2022-04-17 21:22] riverablue opened #133 "Overload of sharks??"
While playing with friends on a server one of them notified me that sharks don't despawn & discovered an absurd amount of sharks in waters
![shaaarks](https://user-images.githubusercontent.com/82718561/163732443-2513401d-5aa0-4ff3-840e-d922d26d4e2f.PNG)
![sharkswtf](https://user-images.githubusercontent.com/82718561/163732376-bc8cc35c-6d3a-4c6e-9631-42141324ba26.PNG)

I suspect this may also contr

[2022-04-19 20:53] Cixon commented on #123
okay, will there be a fix for this soon?

[2022-04-20 13:34] SharkGuy123 commented on #133
Did u use betterfps distance mod?

[2022-04-20 13:43] riverablue commented on #133
I may be using the better fps mod? I'd have to look again

On Wed, Apr 20, 2022, 9:34 AM SharkGuy123 ***@***.***> wrote:

[2022-04-21 02:01] Naelim opened #134 "Crash on client when right clicking animals"
Client crashes when right clicking any untamed wilds animal bigger than a tortoise. Tested and it does not happen in single player, only on modded multiplayer server. Full crash report listed below.

---- Minecraft Crash Report ----
// Hi. I'm Minecraft, and I'm a crashaholic.

Time: 4/20/22, 9:48 PM
Description: Unexpected error

java.lang.NullPointerException: Cannot invoke "untamedwilds.util.En

[2022-04-21 09:35] RayTrace082 commented on #134
Duplicate of #126

[2022-04-21 09:35] #134 closed, assigned to RayTrace082

[2022-04-21 09:41] RayTrace082 commented on #133
Can you share your untamedwilds-common Config file?

[2022-04-21 09:43] RayTrace082 commented on #130
You can't use items to trigger animal breeding (unless you enable that option in the config)

If that option is enabled, the item to trigger breeding is the same item that tames the mob

[2022-04-21 09:43] #130 closed, assigned to RayTrace082

[2022-04-22 10:13] RayTrace082 commented on #123
You could have fixed it yourself the whole time by changing the configs to match the server?

Don't know how soon it will be fixed, since this "issue" is 100% user-inflicted and there's more important stuff to adress

[2022-04-22 17:06] Cixon commented on #123
I understand and you’re correct however nearly every mod in existence doesn’t have this issue when the server config is different than the clients. Usually the server reads the config and allows all connections while utilizing the new configuration.

[2022-04-24 19:11] RayTrace082 commented on #123
Yes, because I am stupid and thought that giving some "power to the users" could be a neat thing to do

Becoming a modder made me realize why every other mod dev eventually ends up abandoning all these ideas

[2022-04-26 09:18] Punkpikachu opened #136 "STILL can´t Tame any Animal"
**Describe the bug**
Must be annoying to get the same question over and over, but, can´t tame any baby animal still, even with,yey, their favourite food.

**Steps To Reproduce**
Steps to reproduce the behavior:
activate creative
spawn baby animal
give it favourite food
one time hearts show but then nothing happens

**Version
1.16.5 ver. 1.5.5

[2022-04-27 09:45] RayTrace082 commented on #136
Fixed

[2022-04-27 09:45] #136 closed, assigned to RayTrace082

[2022-04-27 13:37] theyellowdin0 opened #137 "Tamed big cats don't sit or follow when right clicked - untamedwilds-1.16.5-1.5.6"
It's probably annoying to get another issue that have something to do with tamed mobs but tamed big cats don't follow commands.

I've tested this in a creative world and tamed big cats do attack the mob the player attacked but they don't follow or sit. Tamed rhinos, bisons and bears however do follow commands they can sit, follow, etg. But not big cats?

[2022-04-27 17:44] RayTrace082 commented on #137
Fixed, the function reached an NPE (in a Debug check for Creative mode) before the command change

[2022-04-27 17:44] #137 closed, assigned to RayTrace082

[2022-04-28 00:00] Naelim commented on #126
Any word on this? Continues to be a huge issue on servers

[2022-04-28 17:49] DigitalWendigo commented on #133
I'm curious since I'm using the same mods, and am about to fully finish implementing untamed wilds into my private modpack.
How does betterfps distance affect mob spawning?

[2022-04-29 10:34] Buckmenstar opened #139 "1.18.1"
Hey i really like the mod but i am playing on the 1.18.1 version and i know you said you wont support that version anymore but i was wondering if you could maybe fix a bug that doesnt let me tame anything except bears and also tamed big cats dont follow orders(i tamed them with the love potion in creative) i saw that you said that is a quick fix so i was wondering if you could do that or maybe let

[2022-04-29 11:02] r8420 commented on #126
I'm having the same issue

[2022-04-29 23:47] RayTrace082 commented on #139
Apologies, but indeed I have no plans to update that version anymore

AFAIK, the issue with Big Cat orders can be bypassed by not being in Creative mode, and if you use CraftTweaker, you can add a recipe for the Love Potion item

[2022-04-29 23:47] #139 closed, assigned to RayTrace082

[2022-04-30 09:17] Buckmenstar commented on #139
OMG  that works!!! Thank you very much!!!

[2022-04-30 13:14] DigitalWendigo opened #140 "Help?"
This is not a bug nor a suggestion.
I'm playing on the last 1.16.5 beta upate and I can not, for the life of me, figure this mod out.
I tried in a creative test world before moving on to a survival environment and while in creative, I am able to tame babies only that have been spawned by right-clicking a spawn egg on a parent.
They don't seem to produce offspring on their own no matter how much ti

[2022-04-30 23:48] RayTrace082 commented on #140
For breeding to trigger, mobs need to have full HP, not be hungry and depending on the mob, be alone with their mate. If all conditions are fulfilled, they will mate, and the female will have babies once X days have passed (at most, 10 MC days, but depends on the species; 1 month of gestation in the real animal = 1 MC day by default). Your only way to know is with the Analyzer (Creative debug item

[2022-05-01 08:46] DigitalWendigo commented on #140
To be fair I asumed it was a baby since it was incredibly small compared to the parent it was with.
I didn't however check it with the analyzer during testing, which makes me thing it may not have been a baby but instead just incredibly small..?
Is that a feature where they can spawn adults as baby-sized?
I have no mod installed that changes the spawning mechanics in any way.
Untamed Wilds is enti

[2022-05-01 08:51] DigitalWendigo commented on #140
Also will the analyzer eventually become an item one could make in survival?
This could prove really useful for people that can't use things like Wayla or the one probe, or, implement the analyzer through crafttweaker.

[2022-05-01 09:10] DigitalWendigo commented on #140
So to be absolutely sure... Could you confirm the things below?

easy_breeding = true
natural_breeding = false
gendered_breeding = false
player_breeding = true

With these settings, they should theoretically behave as vanilla animals do, correct?
Meaning if I isolate two Hyenas in a fence, I should get a baby from it right?
Given I feed them rotten flesh?

[2022-05-01 10:32] DigitalWendigo commented on #140
Alright I think I'm getting the hang of this all.
But is it normal that when you right-click on a baby, you hear the feeding sound but no item is being used up during taming?
(I had rotten flesh and porkchop in my hotbar)
I fed the porkchop to the adults to make them breed, as they wouldn't accelt rotten flesh still.
(Hyena)
But after they mated and produced 3 cubs at once, I proceeded to kill the

[2022-05-01 11:07] RayTrace082 commented on #140
The math behind resizing mobs should make most mobs fall within reasonable bounds, but outliers can happen, and that's by choice. You *shouldn't* consistently see baby-sized mobs, but it's something that can rarely happen
(Some mobs have a custom baby model to prevent that issue, but Hyenas do not)

Yes. Only exception would be mobs that already bred before the config chance, since their "growingA

[2022-05-01 11:48] DigitalWendigo commented on #140
The datapack would be a great help with this.
I'm unfortunately incapable of making data packs myself
Again, thank you so much for such quick responses. It really clears a lot of things up.

-Alright, but what of a different method for people to figure out what gender the animal is?
A mod called animania just added 'bits' for creatures like cows, just as an example. But obviously the udder was a c

[2022-05-01 14:05] Coolizzh commented on #140
How do i acces the config to change animal spawing?

[2022-05-01 14:06] DigitalWendigo commented on #140
You need a specific software for that.  I recomend Notepad++

[2022-05-01 14:19] Coolizzh commented on #140
Okay, I cant find the config to edit tough, if you dont mind could you type the pathway to it?

[2022-05-01 14:20] DigitalWendigo commented on #140
appdata/roaming/.minecraft/config

[2022-05-01 14:21] Coolizzh commented on #140
ah okay, I was messing around in the Untamedwilds folder, thanks!

[2022-05-01 14:22] DigitalWendigo commented on #140
Wait did you open the .jar file?
You shouldn't open and edit those directly.

[2022-05-01 14:27] Coolizzh commented on #140
Yeah i noticed, the game crashed. I re-downloaded it so its fixed

[2022-05-01 14:56] Coolizzh commented on #140
I disabled the spawning of snakes since it caused the game to crash. however it seems to still be spawning because it just crashed again caused by snake. its on a server if it makes a diffrence

[2022-05-01 14:57] DigitalWendigo commented on #140
I suggest opening a new issue for this and provide a mod list.
It could be another mod conflicting, and servers work a bit differently from singleplayer.

[2022-05-01 14:58] Coolizzh commented on #140
Ah okay, willdo thanks

[2022-05-01 15:32] RayTrace082 commented on #140
Nope, not touching that topic with a 10ft pole. Manes and Horns are alright, but no schlongs nor milkers
The idea I just got would be to have some text display that information when the player looks at a mob through the Spyglass (or a new similar item), since it's not a very useful item, is immersive, and allows players to get that information from outside of mauling range

That's because you disa

[2022-05-01 15:45] DigitalWendigo commented on #140
I asume you mean the spyglass from 1.17/1.18?
Would that mean that the updated file will only be available for that version or will 1.16.5 have something similar?
Obviously I wouldn't be suggesting any dangly bits to be added, but just something, anything, to help identify genders so as to not expext a baby by constantly feeding two males.
In this case, I really like your idea with the simple text

[2022-05-02 05:58] Lilwhiteshark opened #141 "MC 1.18.2 (UW 2.1.2) Ignoring some configuration settings"
Untamed Wilds is ignoring certain changes made to config `untamedwilds-common.toml`
Setting mobs under `[mobcontrol]` to false (e.g. `bear = false`) does not actually disable the mob's spawn or the items associated with it.

Settings under `[gencontrol]` and `[gamerules]` appear to be working. Unsure about `[modcompat]` settings (no way for me to test them).

 - **Minecraft Version: [1.18.2]**
 -

[2022-05-02 06:06] #141 closed, assigned to RayTrace082

[2022-05-02 19:36] DigitalWendigo opened #142 "Suggestion for overhauling or replacing vanilla cows,sheep,pigs, chickens and wolves with your models and mechanics."
I understand that this theoretically falls under the category aditional creatures and this suggestion might be taken down because of it, but I feel that it may be worth a try and still suggest it, given you're not already planning to do something of the sort.

So as the title says.
I'm curious if you will ever, or are planning to at spome point in time to replace the vanilla animals with your mode

[2022-05-04 03:58] carlstrax opened #143 "Big Cats names not being displayed properly when using Jade mod (HWYLA fork)"
**Describe the bug**
The Big Cats' names are being displayed as "entity.untamedwilds.big_cat" when using the Jade Mod (HWYLA fork).
The other mobs are displaying their names fine like the Bears, etc.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Looking at a spawned Big Cat with the Jade mod installed.

**Screenshots**
![image](https://user-images.githubusercontent.com/104706664/1666

[2022-05-04 20:32] RayTrace082 commented on #132
Just closing this issue since I have added this one indev, and will be released whenever I release a new update

[2022-05-04 20:32] #132 closed, assigned to RayTrace082

[2022-05-05 21:41] AnasterianSunstrider commented on #143
It's the same for me as well.

[2022-05-05 21:42] AnasterianSunstrider commented on #142
I'd love this!
Vanilla animals are super derpy and I'd love an overhaul.

[2022-05-05 21:51] AnasterianSunstrider opened #144 "Please give some information about mob breeding/taming in the patchouli book."
The Encyclopedia of Life shows us many interesting facts, however there's absolutely no information about the interactions with Camels anywhere for example and it would be really helpful if the book included at least the preferred food of each animal.

[2022-05-06 08:42] Haelis opened #145 "Bug; Clicking on mobs/taming to tame crashes game."
Clicking on any mob with right click or trying to tame results in a crash.
On latest version 1.18.2

---- Minecraft Crash Report ----
// Surprise! Haha. Well, this is awkward.

Time: 5/6/22, 2:15 AM
Description: Unexpected error

java.lang.NullPointerException: Cannot invoke "untamedwilds.util.EntityDataHolder.getFavouriteFood(int)" because the return value of "untamedwilds.entity.ComplexMob.getEn

[2022-05-06 08:53] RayTrace082 commented on #127
I cannot, for the life of me, replicate this problem in a dev environment (so I could get an extended stacktrace). I suspect it's due to trying to simultaneously generate a Burrow and another mod's structure at the same time, but its only a guess

Can a world affected by this crash load after the fact? If not, could you provide a world file so I can replicate it?

[2022-05-06 08:54] RayTrace082 commented on #145
Duplicate of #126

[2022-05-06 08:54] #145 closed, assigned to RayTrace082

[2022-05-06 08:56] RayTrace082 commented on #131
This has been fixed, will close the issue when the new version releases

[2022-05-06 19:46] Tyrius1 opened #146 "Snake Hitbox"
Any chance you could increase the hitbox of the snakes a little bit? They feel a bit annoying to try to attack at the moment just because it's sort of hard to find their hitboxes.

[2022-05-07 20:16] RayTrace082 commented on #146
This is worth bringing up

At some point in the future, I would like to move some of the larger snakes (eg. Black Mamba) into their own larger class with a larger model, putting them between the small snakes and the large ones, which should make their hitboxes less stupid

That said, I have added a couple things for the next version to make snakes less annoying:
* Their aggression when stepped on

[2022-05-07 22:45] Tyrius1 commented on #146
Sweeet! Very nice :) I personally love the idea of dangerous snakes in the world and i'd love to see them infesting certain structures like jungle temples and desert pyramids!

[2022-05-08 15:57] ghost opened #147 "Crash with Snow Real Magic - Class Cast Exception"
**Describe the bug**
Minecraft crashes after creating or loading a new world when Untamed Wilds and Snow Real Magic are both loaded.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Creating a new world with this mod loaded: Snow Real Magic
2. Teleporting to a snow biome
3. Walking around

**Crash Log**
https://pastebin.com/fkvvWMV9

**Version (please complete the following information)

[2022-05-09 05:35] theyellowdin0 opened #148 "Rhino and hyena taming/breeding item is air - untamedwilds-1.18.2-2.1.2"
Tested on a creative world and the rhino and hyena taming item is air (empty hand)

Also tested this by going to survival mode and the taming item is still air.

Edit: I would also like to point out that on a server right clicking any mobs that you can't pick up from untamed wilds crashes the game (not the server)

[2022-05-09 10:09] Buckmenstar opened #149 "Question"
Are tamed bison and camels ridable?

[2022-05-09 14:48] RayTrace082 commented on #149
Not currently

[2022-05-09 14:48] #149 closed, assigned to nobody

[2022-05-10 15:31] ghost opened #150 "MC crashed after rightclick event on entity"
**Describe the bug**
MC crashes on interact with entity holding a block

**Steps To Reproduce**
Steps to reproduce the behavior:
Rightclick on an "Untamedwilds entity" with a block and the Server will crash

**Crash Log**
https://pastebin.com/dcUc6BRc

**Version:**
 - Minecraft version: [1.18.2]
 - Version of the mod: [untamedwilds-1.18.2-2.1.2]

[2022-05-10 16:38] Tyrius1 opened #151 "Hungry Carnivores!"
No problems, just an idea.
A new entry for carnivores.

Similiar to
"favourite_food":"minecraft:beef",

but something like
"favourite_prey": "alexsmobs:gazelle"

Where when Carnivore becomes hungry and no food is nearby, it will hunt its preferred prey!
Perhaps with an additional "hunger rate": "tick amount" or something like that?

[2022-05-10 16:39] Tyrius1 commented on #151
Imagine walking into a biome and you see hungry lions chasing down gazelle that are running away.

[2022-05-11 01:57] Tyrius1 opened #152 "Improved Spawning 1.18"
Its not uncommon to find bison and other animals spawning in water. Due to how 1.18's biome placement is. Sometimes it says plains but the terrain is clearly a river or a large body of water. Animals will just spawn in the water in these instances.

Could you add a check to prevent them from spawning in water?

[2022-05-12 01:14] ehinners opened #153 "Cage Trap Shulker Issue"
**Describe the bug**
Cage Traps will NOT open after being placed back down if the mob inside is a shulker

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Put a shulker in a "vehicle", such as a boat or minecart
2. Move vehicle over a cage trap
3. Cage trap will take shulker out of vehicle, leaving empty vehicle
4. Break/Pick up trap (opening the trap during this step will have normal/i

[2022-05-12 10:14] RayTrace082 commented on #153
Vanilla strikes again...

Turns out that, if a mob is a "passenger" (in a boat, Horse or whatever) Minecraft discards its NBT data if you try to save it normally, leading to this issue. The issue isn't really due to Shulkers, and any mob will trigger it if you try to catch them from a boat

It's fixed now, and will be released in the next version

Worth noting, Shulkers will instantly teleport whe

[2022-05-12 13:26] ehinners commented on #153
Wow! That was fast. You're awesome, the mod is awesome, and I love the cage traps as an item!

I used to use the enderio soul jars to move mobs around, but the cage traps are such a cool vanilla way to solve the same problem.

Looking forward to the update!

[2022-05-12 21:02] vulture-bone opened #154 "mod crashes on launch with citadel"
title. i'm on 1.18.2 on mac.
i ran mc with just citadel installed first without issue, but untamedwilds starting crashing on launch after i downloaded it
any advice?

---- Minecraft Crash Report ----
// Oops.

Time: 5/12/22, 4:53 PM
Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed
	at net.minecraftforge.logging.CrashReportExtender.dumpModLoadingCrashReport(C

[2022-05-12 22:37] RayTrace082 commented on #154
Yes. Don't use the 1.16.5 version when you are trying to play in 1.18.2
[This version](https://www.curseforge.com/minecraft/mc-mods/untamedwilds/files/3747047) is the latest 1.18.2 release, use it instead

[2022-05-12 22:37] #154 closed, assigned to RayTrace082

[2022-05-13 01:13] vulture-bone commented on #154
thank you so much! i couldnt find that for some reason

On Thu, May 12, 2022 at 6:37 PM RayTrace082 ***@***.***>
wrote:

[2022-05-13 03:13] PAIIN2 commented on #126
Is there a way to solve this issue? Has anyone found a fix?

[2022-05-13 03:15] PAIIN2 commented on #150
Is there a way to solve this issue? Has anyone found a fix?

[2022-05-14 12:50] ghost commented on #112
I am getting this exact issue on the latest 1.16.5 version (with BYG+Terraforged+DynamicTrees) and can't find the treeSpawnBias in the config file. Did you only add that for 1.18?

[2022-05-15 13:56] jpschandorff opened #155 "Interaction causes crash"
I experience this error following a complete game crash:
"java.lang.NullPointerException: Cannot invoke "untamedwilds.util.EntityDataHolder.getFavouriteFood(int)" because the return value of "untamedwilds.entity.ComplexMob.getEntityData(net.minecraft.world.entity.EntityType)" is null"
This happens when right clicking on any of the animals from this mods on a server installed with Medieval Minecraf

[2022-05-16 02:45] XLB9363 opened #156 "mod conflict"
Dear author,Your work will make other mod creatures unable to generate。Like "Alex""Better Animals Plus"。

[2022-05-16 19:12] Tyrius1 opened #157 "Variants"
/summon untamedwilds:shark ~ ~ ~ {Variant:4}

Could you setup the variants so that they might be summoned using the above command?

I'd like to create a Great White Jaws Boss 😋

[2022-05-16 21:15] RayTrace082 commented on #157
I am 100% sure you can already do this

Just add {Size:1} (or whatever value you want) somewhere in the NBT, because for some stupid reason, the game defaults that value to zero (mob so tiny that it doesn't even render) instead of one (normal model size)

`/summon untamedwilds:shark ~ ~ ~ {Variant:4, Size:2}`

should work (for a bigger than normal GW Shark

[2022-05-16 22:27] #146 closed, assigned to RayTrace082

[2022-05-16 22:28] RayTrace082 commented on #155
Duplicate of #126

[2022-05-16 22:28] #155 closed, assigned to RayTrace082

[2022-05-16 22:28] #153 closed, assigned to RayTrace082

[2022-05-16 22:28] RayTrace082 commented on #148
Should be fixed, feel free to reopen the issue if it persists

[2022-05-16 22:28] #148 closed, assigned to RayTrace082

[2022-05-16 22:29] #123 closed, assigned to RayTrace082

[2022-05-16 22:30] RayTrace082 commented on #126
Just released a new version that **should** fix this issue

Will close the issue in a few days if everything seems to be good

[2022-05-16 22:31] RayTrace082 commented on #150
Duplicate of #126  (and fixed)

[2022-05-16 22:31] #150 closed, assigned to RayTrace082

[2022-05-16 22:33] #131 closed, assigned to RayTrace082

[2022-05-16 22:36] RayTrace082 commented on #127
The new version has added a few changes to burrow generator that **should** fix this issue, will close the issue in about a week if no further issues arise, but again, never managed to replicate this

[2022-05-16 22:36] RayTrace082 commented on #125
Closing, since those configs don't exist anymore

[2022-05-16 22:36] #125 closed, assigned to RayTrace082

[2022-05-16 22:38] RayTrace082 commented on #152
This is really simple to solve, but given the ridiculous amount of terrain that caves can end up taking, it'd mean a lot less overall mobs in the world

Given the request, I can add a config option to prevent non-amphibious mobs from spawning on water, but the default will stay as it is (the swimming AI should eventually take them to dry land, since it is now fixed)

[2022-05-16 22:38] Tyrius1 commented on #157
Eyyy that worked :) Thanks!

Any chance you could do something about the hitboxes not increasing in size when the mob is enlarged?
Anything above 2 is basically impossible to hit the hitbox

Side note, Megalodons would probably make this a moot point 😆

[2022-05-16 22:41] RayTrace082 commented on #147
Interested to see if this got fixed, since the code it points at got changed and the problem may have been unintentionally fixed

[2022-05-16 22:47] RayTrace082 commented on #156
It really shouldn't. UW mobs do spawn during worldgen, and thus, should not interfere with normal vanilla generation (which AFAIK, most mods use)

If you have some logs I can look at, please share, but I use both of those mods alongside UW and they generate as normal

[2022-05-17 07:06] #140 closed, assigned to RayTrace082

[2022-05-17 07:17] antibang opened #158 "[1.16.5] [1.5.7] Server datapack appears to not work, but works on client-side"
**Describe the bug**
This might be my own fault and just didn't read something fully, so I apologize in advance if this is the case :)

I made a datapack for Untamed Wilds, and had been testing it singleplayer worlds since I started making it. Everything was working correctly and as intended. Today, I finally had the chance to get on my servers since adding Untamed Wilds and noticed that some enti

[2022-05-17 08:29] RayTrace082 commented on #158
You should be able to check which datapacks are loaded and working in your instance with the `datapack list [available|enabled]` command, could you check if the custom pack appears in either of those lists?

And just to rule out a botched install, do any other datapacks work correctly? The process of installing a datapack is a bit different in a server

Also, a datapack won't retroactively change

[2022-05-17 08:37] RayTrace082 commented on #157
Hitboxes are normally immutable, that is, you can't normally change it

It *can* be fixed with some funny code, and I plan to eventually do so, but it sounds like a massive pain to get the hitboxes to dynamically match with a mob's size without many bugs (not to mention that such changes would have to be accounted at many places by the AI)

[2022-05-17 08:44] antibang commented on #158
Oh, oops :( I should've mentioned I use a mod called Global Data- & Resourcepacks to load the datapacks on the server (if it means anything to you, I use the 1.7.4 version, and not the newest one because I prefer it), and not through the actual datapack folder inside the world's folder. So, none of the datapacks show up using that command. Should I try adding the datapacks to the world folder that

[2022-05-17 13:58] Tyrius1 commented on #157
Roger that! Appreciate you!

[2022-05-17 13:58] #157 closed, assigned to RayTrace082

[2022-05-17 14:03] Tyrius1 commented on #142
Perhaps this would be best if he made a separate mod to do this sort of like how better animals plus team made better animal models.

Instead of Untamed Wilds cows... Maybe,
Tamed Wilds
Domesticated Wilds :P
Or
Domesticated Animals?

Definitely agree though!
Would love to see RayTrace's take on improved domesticated animal models.

[2022-05-22 21:12] RayTrace082 commented on #158
Uh... I myself use OpenLoader to load datapacks, but I just tested loading a datapack on a local server (the vanilla way), and the datapack works as intended in both SP and MP

What does your datapack do? And how did you do it? (since there's multiple ways to disable a mob, but editing 'spawn_types' was only added in 1.18). Can you share your datapack so I can look further into it?

[2022-05-22 23:21] #126 closed, assigned to RayTrace082

[2022-05-22 23:21] #143 closed, assigned to RayTrace082

[2022-05-23 23:26] dorrek opened #159 "Game crashes upon right clicking any creature from untamed wilds"
**Describe the bug**
Every time you right click a creature the game saves and closes

**Steps To Reproduce**
Right click a creature with an empty hand or with something in it doesn't matter which

**Crash Log**
The game crashed whilst unexpected error
Error: java.lang.NullPointerException: Cannot invoke "untamedwilds.util.EntityDataHolder.getFavouriteFood(int)" because the return value of "untamed

[2022-05-24 00:58] antibang commented on #158
Well, I only "disabled" a few variants of the tarantula by removing their spawn biomes, and wasn't even sure if it worked, but I haven't seen any around. The only other thing I did was alter the size of some variants of the mobs and changed only a handful of the group sizes. Nothing else was changed.

This is a shortened version of my datapack, only including Untamed Wilds, and not any other mod's

[2022-05-24 06:42] theyellowdin0 commented on #159
This was already fixed, via. untamedwilds-1.18.2-2.1.3.jar

https://www.curseforge.com/minecraft/mc-mods/untamedwilds/files/3794273

[2022-05-24 20:38] RayTrace082 commented on #159
What theyellowdin0 said, update the mod to fix it

[2022-05-24 20:38] #159 closed, assigned to RayTrace082

[2022-05-25 17:47] Dycilia opened #160 "Crash when shielding/attacking/taking damage"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any untamed wilds animal'
2. Click on 'attack/defend'
3. Scroll down to '....'
4. See error

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

**Screenshots**
If applicable, add screenshots to help
[crash-2022-05-2

[2022-05-25 22:40] RayTrace082 commented on #160
Update the mod

[2022-05-25 22:40] #160 closed, assigned to RayTrace082

[2022-05-26 15:27] manuelmsni opened #161 "Game crashes when rigthclick a mob"
**Describe the bug**
When I right click a mob [untamed wilds mod mob] with my bare hands or with any item the game crashes.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Right click on a mob [untamed wilds mod mob]
4. See error

**Crash Log**
Error: java.lang.NullPointerException: Cannot invoke "untamedwilds.util.EntityDataHolder.getFavouriteFood(int)" because the return value of "un

[2022-05-26 15:55] RayTrace082 commented on #161
Update

[2022-05-26 15:55] #161 closed, assigned to RayTrace082

[2022-05-27 17:26] AlcatrazIsle opened #162 "Big Cat Babies aren't Spawning"
I'm not sure why, I've explored chunks and chunks and I haven't found a single big cat baby. I've found grown versions, but nothing else. It's the same for all the other animals.

[2022-05-28 12:53] RayTrace082 commented on #162
Intended, babies do not spawn naturally (currently)

[2022-05-28 12:53] #162 closed, assigned to nobody

[2022-05-28 23:48] ThatGuyJess opened #163 "1.18.2-1.2.3 Crash: 'bear sound is null'"
### **Hello!**
First I want to say I love this mod and appreciate the work you put into it! I am planning on donating something soon as a thank you gift.

### **Here's the scoop:**
The mod crashes due to "Entity Type: untamedwilds:bear" ticking. It states below that despite the fix you made (which seemed to work for the mob(s?) that previously had this issue for my server, my friends, and I) there

[2022-05-29 02:07] Subthy opened #164 "[1.16.5] [1.5.7] Mobs potentially chunk loading"
**Describe the bug**
If a player loads a chunk with a mob from the mod, it will be chunk loaded in a server.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Add mod to a server
2. See loaded chunks when no chunk are loaded
3. Load new chunks
4. Go the the same spot and check the loaded chunks again.

**Screenshots**
 2 players in the same chunk without untamed wilds in
![unknown](https

[2022-05-29 03:29] AlcatrazIsle commented on #162
Oh alright. Is there breeding or any way to tame big cats? Thank you.

[2022-05-30 08:32] RayTrace082 commented on #164
What the fuck? That's a really nasty issue, sweet Jesus

As a request, would you mind checking if the issue persists when you set `burrows = false` in the Config? (instead of generating burrows, critters will just spawn in the world) I have no experience in server hosting outside of IDEA's dev environment

[2022-05-30 08:36] RayTrace082 commented on #163
The fix applied to the "death" and "hurt" sounds, where I avoid the problem by using a generic sound whenever one is undefined. Didn't do the same thing with "ambient" sounds, because there is no generic ambient sounds, and it never gave any problems

It was my impression that the "ambient" sounds were handled differently and accounted for the chance that the sound was null, but clearly that's not

[2022-05-31 05:44] Subthy commented on #164
I disabled burrows and the issue still persists.

[2022-05-31 11:12] antibang commented on #158
I have an update: so, I was able to get some free time and mess around with my servers and turns out putting the datapack directly into the world's datapacks folder works for some reason.

I haven't been modding myself for that long, and don't know very much about anything, but could it possibly be that Untamed Wilds loads the entity's data _after_ the mod Global Data- & Resourcepacks loads data,

[2022-06-02 02:04] loorikeet opened #165 "Really small Hippo's [1.16.5 - 1.5.4]"
**Describe the bug**
The hippo's have shrunk, I dont know what caused this because they used to be a normal size
when I spawn them in a seperate world they are the normal size

**Steps To Reproduce**
I have no idea

**Screenshots**
![2022-06-02_10 54 24](https://user-images.githubusercontent.com/59521717/171531377-ef54f85c-7333-4652-8524-fece3acd9171.png)

**Version (please complete the following

[2022-06-02 02:14] loorikeet commented on #165
I created a backup of the world and went into creative and spawned a hippo is and the one I spawned is normal sized and the one I have is still really small
![2022-06-02_12 12 10](https://user-images.githubusercontent.com/59521717/171534112-c6b396ea-d891-44a7-8c7e-45d52f7bded8.png)

[2022-06-02 15:10] RayTrace082 commented on #165
Did you update the mod in an existing world from a (very) old version? because this will 100% happen if you do so

[2022-06-04 02:29] Charmanth opened #166 "[1.18.2] Hyenas (possibly other mobs) start Wandering on own (won't stay sitting)"
**Describe the bug**
Tamed Hyenas, and possibly other mobs, start to wander randomly when sitting.  Possible interaction with Domestication Innovations.  Quark shibas, tamed wolves, etc are not effected.  Will link this to Domestication Innovations tracker too.

**Steps To Reproduce**
Steps to reproduce the behavior:
1: Tame a hyena
2: cycle commands to sit
3: wait some time, maybe do some stuff
4

[2022-06-04 22:45] RayTrace082 commented on #158
Didn't post anything else, because I couldn't diagnose anything weird, the datapack 100% works in both SP and in a dev server without any issue whatsoever (of course, with the limitation that I can't test it with more than 1 player)

My only conclusion is that Global Data doesn't play well when modders add their own custom loaders into the datapack events (which, is perfectly reasonable, datapacks

[2022-06-05 03:57] Proxilemit opened #167 "Spawn weight for individual mobs"
Is there an ability to change the spawn weights of individual mobs, it says on the mod curse page that this possible, but I cannot find it in the configs?

[2022-06-05 12:55] RayTrace082 commented on #167
This is only available through datapacks, and only in 1.18+ versions

[2022-06-05 12:55] #167 closed, assigned to RayTrace082

[2022-06-09 22:17] Subthy commented on #164
I disabled the master spawner and then loaded in new chunks without the Untamed Wilds entities, and there appears to be no chunk loading. However, when me or other player load old chunks with the Untamed Wilds entities, the chunks seem to stay loaded.

We also used the mod Crash Utilities to find all of the loaded chunks, and every chunk that was being loaded (not by a player) contained at least 1

[2022-06-12 13:22] TuffCat opened #168 "variant change not working"
**Describe the bug**
shift right-clicking on a spawn egg just moves it to the top left corner of my inventory and then back to the bottom left. this is on creative mode, how the heck do i fix it???
**Steps To Reproduce**
Steps to reproduce the behavior:
1. make sure you're in creative mode.
2. get an untamed wilds spawn egg.
3. shift right-click on the egg while in the inventory.
4. it does not cy

[2022-06-12 13:49] RayTrace082 commented on #168
You switch variants with the egg in your hand, not from the inventory GUI

[2022-06-12 13:50] #158 closed, assigned to RayTrace082

[2022-06-12 13:55] TuffCat commented on #168
ah, okay! thanks so much! (i am VERY new to this mod, sorry if i ask a lot of questions!)

[2022-06-12 20:39] TuffCat opened #169 "what do large snakes eat???"
this is not really a bug, but more of a question, and i haven't gotten a response on curseforge. google and youtube also have NO solutions. i've tried putting chickens and pigs in front of them, they're at 79% hunger. they won't eat anything. at some point they're going to starve because they won't eat anything. can somebody help me identify what a medium-sized prey item is, what large snakes eat,

[2022-06-12 20:55] TuffCat commented on #151
Wait, they don't kill prey animals? So _that's_ why the bears I released are starving to death when there's chickens everywhere.

[2022-06-12 20:56] TuffCat commented on #144
the book won't even do anything for me??? won't open???

[2022-06-13 15:25] RayTrace082 commented on #169
Hunger doesn't work that way, a mob will never take damage from being at zero hunger, it's just a threshold for certain behaviors (most notably, hunting). In the case of Large Snakes, they won't hunt until their hunger gets lower than 30

They should eat pretty much anything, Pigs, Cows, Chickens and any mob lower on the food chain (pretty much any passive animal with less than 20 Hearts), but unl

[2022-06-13 15:39] TuffCat commented on #169
Also, for some reason, they've been in the world with me in their chunks for multiple hours... yet they don't lose hunger. Is this a glitch or is it supposed to happen? Also, yes, they are moving around quite a bit. Also, bears will ignore chickens and other animals around them- I watched one be at literally 2 hunger points and not eat ANYTHING.

[2022-06-13 20:40] #168 closed, assigned to RayTrace082

[2022-06-21 10:36] Tylertron1998 commented on #164
Is there any update on this/any ideas for a fix? (: I currently help run a large modded server and I'd rather not get rid of this - however having almost 500 chunks loaded while only a single player is online is definitely not ideal 😆

[2022-06-22 04:51] Subthy commented on #164
I just disabled spawns, till the issue is fixed.

[2022-06-23 20:19] Rakadeja commented on #163
We're just about to delete the mod until it updates again. This crash has everyone disappointed on our server since there are so many nice, ambient mobs. Would greatly appreciate a fix for this! (1.18.2)

[2022-06-25 08:51] HerringBarrel opened #170 "Crash due to despawned damagesource?"
Game crashed, stacktrace indicated it was due to a null return from net.minecraft.world.damagesource.EntityDamageSource.getSourcePosition()

I was testing out a villager mod, and after realizing that a zombie attack would interfere with that, I changed the difficulty to peaceful. The game crashed shortly thereafter. I suspect that something attacked a Bison, and then was despawned by peaceful mode

[2022-06-25 10:42] antibang commented on #164
I experience this as well :) I had to turn off the master spawner, as there would be nearly average of 80,000+ chunks right before my server restarts (every 12 hours). There'd only be a few people online and there'd be a horrendous amount of chunks loaded for the number of people. Once the player left, the chunks continued to stay loaded. The spawn weights of the mobs are even lower than the defau

[2022-06-26 20:59] Spoofygamer opened #171 "Deer"
I would like to see animals like deer, elk, and antelope spawning in the world, I think that they would add quite a lot of life to forests and savannas.

[2022-06-29 11:07] RayTrace082 commented on #171
Not taking suggestions for new animals

[2022-06-29 11:07] #171 closed, assigned to RayTrace082

[2022-07-13 12:18] lRanzer11 opened #172 "Tranquilizer to capture hostile mobs. (1.16.5 please)"
The Cage works awesome, but I think capturing mobs easily is boring.
Suggestion:
Before you can capture a hostile mobs using cage, it should be weaker (25% health/hearts or below) and need to be tranquilized.
It's like capturing a pokemon :)

Thanks for this mod! You are doing great!

[2022-07-13 12:24] lRanzer11 opened #173 "Encyclopedia of life is not working on (1.16.5) version 1.5.7"
Encyclopedia of life is not working for me, I can craft the book, but it is not working, it says "Invalid_Guidebook" or something.

Version
 - Minecraft version: 1.16.5
 - Version of the mod: 1.5.7
 - Additional mods: Patchouli version 1.16.4-53.3 (release date: 06/24/22)

[2022-07-15 10:37] RayTrace082 commented on #164
Have been a bit absent from modding due to work, but I can give an update

This has been a complete nightmare to debug due to the nature of it being a server-side issue (which means that the smallest change needs a full reboot of both server and client instances just to test it). As it stands, I have found out that it's the act of finding/storing "Home" coordinates that causes it (which mobs do us

[2022-07-15 10:43] Subthy commented on #164
Thank you very much. I can't imagine how much time you spent on this. I kind of feel sorry that I found that issue. Hands down you are one of the best mod developers out there, most would just say that they stopped supporting that version of the mod, but you are a real chad. <3

[2022-07-15 20:43] RayTrace082 commented on #164
Awww, thank you
New version has been released and should be shortly available, which SHOULD fix this issue, will close this issue in a few days if everything seems fine
Keep in mind, however, I can't guarantee whether the fix applies retroactively to pre-exisiting mobs (hope it does), without altering NBT data which would delay even more this update

[2022-07-16 09:11] RayTrace082 commented on #172
There's currently a config option called "easyMobCapturing" that you can disable if you find Cage Traps too exploitable

It basically makes mobs uncatchable if they are trying to attack a target, so you can't just lure hostile mobs into a trap to get rid of them forever

There are plans to include some sort of "tranquilizer" that would put mobs into deep sleep, however

[2022-07-16 10:43] lRanzer11 commented on #172
I didn't know that it has such features. All of the mod showcase videos that I watched regarding this mod did not mention it.

So basically, if the easyMobCapturing is disabled, before the Player can capture the mob, the mob should not chasing the player?
Does that work on another mod mob as well?

I am looking forward for the tranquilizer thing, It would be awesome to add challenges on capturing

[2022-07-16 16:50] #165 closed, assigned to RayTrace082

[2022-07-17 15:26] Subthy commented on #164
Form the looks of it everything is looking good. There are no chunks being loaded. Can't really say about already loaded entities, as we got rid of them, when the issue happened. Good job

[2022-07-17 18:45] MegaGamer265 opened #174 "Snow real magic"
Not all plants work with snow real magic mod

[2022-07-19 14:22] BlackAures1 opened #175 "Crash/Freeze game with Incontrol"
**Describe the bug**
I wrote a bug report for the mod Incontrol. You might be interested in it too, because it's related to your mod too. - https://github.com/McJtyMods/InControl/issues/336

**Steps To Reproduce**
Steps to reproduce the behavior:
"With some chance the game crashes or stops (no crash report) when trying to block untamedwilds spawns. After removing the limit of 10 pieces per chunk,

[2022-07-19 17:30] BlackAures1 opened #176 "[1.18.2] No eggs"
**Describe the bug**
Spiders, snakes and other animals do not give eggs if the config is changed to more vanilla. After feeding, they just give 1 experience and no eggs.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install this config
[code]
2. Create a large group of any animals (snakes or spiders) and try to breed them with his favorite food.
3. After a while you will be given 1 e

[2022-07-19 20:04] BlackAures1 commented on #176
Checked the reproduction with the standard config. That doesn't work either.

[2022-07-22 21:35] tmarva opened #177 "untamed wilds has failed to load correctly"
when i open the game it doesnt loads correctly
![image](https://user-images.githubusercontent.com/109828446/180571402-97458465-54f9-4793-a3ac-8688bc357cf4.png)
[crash-2022-07-22_18.21.21-fml.txt](https://github.com/RayTrace082/untamedwilds/files/9172261/crash-2022-07-22_18.21.21-fml.txt)

**Version (please complete the following information):**
 - Minecraft version: 1.18.2 forge-40.1.68
 - Version

[2022-07-23 11:26] RayTrace082 commented on #177
🤔

[2022-07-23 20:34] #177 closed, assigned to RayTrace082

[2022-07-24 14:40] RayTrace082 commented on #173
Update the mod

If that doesn't fix it, Patchouli usually gives some kind of pointer about what went wrong in the logs

[2022-07-24 14:41] RayTrace082 commented on #176
Fixed for the next version

[2022-07-24 19:39] dadoirie opened #178 "wrong repository"
please delete this since it was the wrong repository I posted

[2022-07-24 20:03] dadoirie commented on #178
dang it - sorry about the closing and opening of the issue :( seems like can't delete it myself

[2022-07-25 09:44] RayTrace082 commented on #178
Don't worry, done

[2022-07-25 10:06] RayTrace082 commented on #175
You won't be able to do that through 3rd party tools, since I spawn the mobs outside of how vanilla does it
You have a few workarounds:
* Disable the "masterSpawner" config option so none of UntamedWilds mobs spawn, and have InControl (or other mods) manage the whole thing (there may be issues, but it should properly assigns variants to the correct places)
* If available, set the freq values in th

[2022-07-26 10:14] BlackAures1 commented on #175
Oh, I could do it all, but I think it would be easier for me to wait for an update. I'm already a month into the modpack, and I don't want to spend even more time and effort on something that will most likely break in the next update. The creatures from your mod are involved in about 40 quests related to animal protection. I'm doing this with the support of the Russian Biological Society. Everythi

[2022-07-27 10:49] BlackAures1 opened #179 "Dupe leashes"
**Describe the bug**
You can get an infinite number of leashes with crates.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Tie the sheep with a leash and throw it in an open box.
2. The box will close and 1 leash will drop out
3. Open the box and the sheep will be leashed (+1 leash).

**Version (please complete the following information):**
Minecraft version: 1.18.2
Version of the mod

[2022-07-27 10:50] BlackAures1 commented on #179
There is also another little visual bug with the box. One of the sides disappears if you move a small distance away from the box, but I think you know about this bug.

[2022-07-28 10:36] RayTrace082 commented on #164
Have tested a bit, and 1.18+ versions of the mod don't seem to be affected by this issue

Closing, since it seems servers are useable again

[2022-07-28 10:36] #164 closed, assigned to RayTrace082

[2022-07-28 10:36] #127 closed, assigned to RayTrace082

[2022-07-29 06:54] copygirl opened #180 "Tetra compatibility: Any item is "Pearl+" modifier"
### Description
When modifying a Tetra tool, any item is valid in the socket slot as a "Pearl+" modifier.

### Steps To Reproduce
- Get a Tetra workbench and hammer.
- Edit the socket upgrade slot.
- Notice that any item is applicable.
  (Even empty slots are highlighted as if valid.)

### Comments
I looked at how [tetra does things](https://github.com/mickelus/tetra/blob/1.18/src/main/resources/d

[2022-07-29 15:46] FrAndromede opened #181 "1.18.2 client crash on right clicking any mob from this mod"
**Describe the bug**
Using Forge. Right clicking on a mob from this mod will immediately crash the client.

**Steps To Reproduce**
Right click on any mob from this game. It will check the mob's favourite food and crash the client (at least, for me).

**Crash Log**
(https://pastebin.com/p4gvTKaT)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please comple

[2022-07-30 01:29] TheWookofWallST opened #182 "Animals stuck in dying animation"
**Describe the bug**
On my server with your mod on it i keep running into snakes and turtles and other small animals that are stuck getting damage, they are still moving around but they are red and stuck between dying animations

**Steps To Reproduce**
Steps to reproduce the behavior:
I've restarted my server seems to be only happening to small UntamedWild animals only started happening when I add

[2022-07-30 02:02] TheWookofWallST commented on #182
You could actually probably close this issue I've started noticing it happening with other mod's mobs after exploring a while.

[2022-07-30 19:29] FrAndromede commented on #181
Setting player_breeding to true in the untamedwilds-common.toml file (located in the server's config folder) seems to fix the problem, at least until the bug is fixed. Right-clicking on a tortoise, for example (this has been tried with other animals) with a sword no longer causes a crash.

[2022-07-31 15:28] RayTrace082 commented on #180
The fix for this issue had been provided a few days ago by a contributor (Unkownn66) and will be released with the next version
That's pretty much what happened, Tetra changed a bit the formatting in the 1.16 -> 1.18 migration, and I didn't find it out until very recently

For what it is worth, removing the tetra folder from inside the .jar's data folder will fix the issue, and I am okay with the

[2022-07-31 15:30] RayTrace082 commented on #181
[Update the mod](https://www.curseforge.com/minecraft/mc-mods/untamedwilds/files/3794273), there's a newer version that fixes that problem

[2022-07-31 15:30] #181 closed, assigned to RayTrace082

[2022-07-31 15:36] RayTrace082 commented on #182
Okay, gonna close this issue, feel free to reopen/create a new one if you find out it's caused by Untamed Wilds

[2022-07-31 15:36] #182 closed, assigned to RayTrace082

[2022-07-31 15:55] copygirl commented on #180
We can probably wait for an update. Hoping it will come out within the next week or two.

Do you mind me asking why the repository is outdated?
As a modpack author I like using source code to look up certain things, when it's available.

[2022-08-04 10:26] RayTrace082 commented on #180
The main reason is that I changed workspace to keep the 1.16 and 1.18 codebases separate, and I originally forgot to push the 1.18 project into its own branch, after that, it's mostly a mix of:
- WIP content I have been working on for a long while, that I do not want to spoil
- Lack of time/interest in modding/minecraft (no plans on quitting for a while, but progress has been quite slow)
- Most da

[2022-08-06 02:05] DragonAstemirN opened #183 "animals appear on the trees minecraft 1.16.5"
animals spawn in the treetops

and noticed this problem with the dynamic trees mod
problem detected only with large animals, not burrows

![2022-08-05_19 50 36](https://user-images.githubusercontent.com/94336869/183229264-e284b07c-452e-4299-99af-63be3e1233ff.png)
![2022-08-05_19 50 43](https://user-images.githubusercontent.com/94336869/183229319-166f6b02-7927-43bb-9c74-76bba3847c17.png)

 - Minecr

[2022-08-07 07:24] BlackAures1 commented on #176
When will this patch be approximately? ^^

[2022-08-07 08:03] BlackAures1 commented on #175
I have a feeling that even the datapack your animals are ignoring. I set the values for catfish extremely low, but they still show up as many as before. When I set the weight to 0 and the group size to 0 it doesn't work either. A new world was created to test.
![image](https://user-images.githubusercontent.com/43911230/183281381-69eba160-dd4d-454f-94bd-67ce8ea336a8.png)
[Dragon Play.zip](https://g

[2022-08-08 10:00] RayTrace082 commented on #183
Sorry, 1.16 is not supported anymore
It's fixed in 1.18

[2022-08-08 10:01] #183 closed, assigned to RayTrace082

[2022-08-08 20:50] #133 closed, assigned to RayTrace082

[2022-08-08 20:50] #77 closed, assigned to RayTrace082

[2022-08-08 20:51] #73 closed, assigned to RayTrace082

[2022-08-08 20:51] #98 closed, assigned to nobody

[2022-08-09 12:08] RayTrace082 commented on #170
I forgot to add it to the changelog, but this issue should be now resolved

[2022-08-09 12:08] #170 closed, assigned to RayTrace082

[2022-08-09 12:13] RayTrace082 commented on #176
This issue should be fixed, mobs do lay eggs with the provided configs. Will close the issue in a few days if no further issues are reported

[2022-08-09 12:14] RayTrace082 commented on #180
Fixed

[2022-08-09 12:14] #180 closed, assigned to RayTrace082

[2022-08-09 12:15] RayTrace082 commented on #179
Leash duplication fixed, and yeah, multi-block models are pretty janky, but I still think the instances where it works are worth the occasional jank

[2022-08-09 12:15] #179 closed, assigned to RayTrace082

[2022-08-13 16:56] #144 closed, assigned to RayTrace082

[2022-08-15 23:41] bigfoot102030 opened #184 "Big Cats in Cages All Labeled as Cave Lions!?"
I was playing with this mod in survival earlier, and I noticed after capturing a Leopard with a cage trap that it was called a Cave Lion instead. I went to creative to further test out this potential bug, and found that ALL big cats in cage traps are called Cave Lions. The genders are correct, but the species is not.

(I don't know how to upload screenshots, but I assume the issue won't be difficu

[2022-08-16 03:05] bigfoot102030 commented on #184
After further investigation, I have discovered that all species of Hyena are called Aardwolf when in cages... will keep testing this. Also I have discovered that news have no favorite food in the patchouli guide book! And all of the foods are displayed as their item tags as opposed to the name of the item themselves.

[2022-08-16 03:16] bigfoot102030 commented on #184
I have continued my discoveries, and I have found that it applies to any species with variations. For example, I captured an Indian Rhinoceros with a cage, and the item displayed as a Black Rhino when I hovered over it. I believe it always displays the variant number 0!

[2022-08-16 16:27] bigfoot102030 opened #185 "Designate a tool to break cages quicker!"
I've been trying to start trapping larger animals lately using cages, and it's been pretty frustrating to discover that there is no tool that can be used to break cages quicker! It's not a huge issue, and more of a quality of life type thing.

Seeing as cages are made up of wood and iron, I feel that either an axe or a pickaxe should be the designated tool to break cages!

If not a tool, then mayb

[2022-08-23 10:29] DaDiGui opened #186 "Darts and poisons"
Maybe create a kind of blowgun with bamboo which you can shoot normal darts or darts with somnifers, tranquillisers and/or poison.
Venom can be extracted from the snakes/tarantulas with an empty glass bottle.
For tranquillisers and sleeping pills you can use vanilla/modded plants, grind them in a mortar to get the powder and use this powder on a potion table to create (together with normal darts)

[2022-08-24 08:45] Neverl0re opened #187 "Large snakes and breeding; How do they do it?"
Hello! First off, I'd like to say that I absolutely love this mod. All the variation in the wildlife is very pleasing to me, And my friends on the server I play on are having a blast with it too. :)

Now getting into the issue- How exactly does one get large snake eggs? I've got a pair consisting of a male and female reticulated python in a pen together, And I'm trying to get eggs, But I want to m

[2022-08-25 06:50] Neverl0re commented on #184
I've been collecting animals on a server with my friends, And I have a trio of Reticulated Pythons and one Green Anaconda...But they all show up as Green Anaconda inside their cage traps. ": P I think you're right.

[2022-08-26 23:42] RayTrace082 commented on #187
The smaller snakes (and Tortoises/Turtles) were breeding like crazy, which has been corrected

For big snakes to breed, it should be enough by keeping two of opposite genders close and at full health, but keep in mind that there is about 7 minecraft days of pregnancy until the eggs are delivered

If you are on the latest 1.18 version, zoom into the female snake with the Spyglass (large snakes are

[2022-08-27 15:42] RayTrace082 commented on #184
Fixed in my end, to be released in the future

Basically, the tooltip was looking for a different NBT tag, and since nothing could be found, it defaulted to the first defined variant

It's a purely visual bug, all NBT data is correctly preserved, so your mobs are all safe

[2022-08-28 09:33] Neverl0re commented on #187
Ah thank you so much! We're currently using the 1.16.5 version, Since the server has a custom modpack with different things in it- But we have a Caves and Cliffs backport, So the spyglass is obtainable there. I'll try that, Thank you very much. :D 👍

[2022-09-01 02:19] MinecraftPerson opened #188 "Fishing"
I think it would be cool if you added some kind of fishing to your mod. I know there's chum (and my favorite advancement that comes with it), but what it you could put it on a hook, and fish for mobs like trevally, catfish, triggerfish, arowana, football fish, and just maybe a turtle! I think it would be cool to watch a fish entity bite the line so you can reel it in, which is something I've been

[2022-09-02 13:54] DmitryErgen opened #189 "How to disable Burrow Spawn?"
**Describe the bug**
There was such problem on the server. Previously, only the player who connected to the host took off. Through trial and error, it turned out that this is due to burrow. How to turn them off ?

**Steps To Reproduce**
Steps to reproduce the behavior: After some time has elapsed, or when a player enters the server.

**Crash Log**
---- Minecraft Crash Report ----
// Why did you do

[2022-09-04 23:37] RayTrace082 commented on #189
Did you (or the server host) happen to change a datapack at some point after generating the world?

I'm afraid there's no way to retroactively disable burrows, there's a config option to turn them off (and have critters spawn directly in the world), but:
* This only works on newly generated chunks
* Existing burrows will still keep ticking, which causes the crash (if they try to spawn mobs with va

[2022-09-04 23:48] DmitryErgen commented on #189
No, I did not add anything new to the generation after the creation of the world. The main problem was that this was not done by one burrow, but by some random ones. Thanks for the advice.

[2022-10-04 07:06] DigitalWendigo opened #191 "Suggestion: Territorial Animals."
Hello, I hope you are doing well.

I've got a suggestion, as the title implies.

A lot of the animals in your mod are territorial and would attack a human or another animal of a different species, if they are lower down the food chain, simply to protect their territory and themselves.
I've noticed that a lot of the big cats and bears, if they're not with a baby, won't even bother with you.
While i

[2022-10-04 07:18] DigitalWendigo opened #192 "Suggestion: Primates."
Hello, I hope you are having a fantastic day.

What are your thoughts, ideas and plans (if any) on primates?
Gorillas, Orangutans, Chimpanzees, Baboons, possibly some smaller primate species as well like the Gibbon or the Tamarin.

I think they'd be a nice addition to the jungle and savanna.

[2022-10-05 12:31] DigitalWendigo opened #193 "A few questions regarding some things with the animals and their associated behaviour."
Hello, I hope you are doing well and are having a great day.

I wanted to bother you a tad with some questions, if you do not mind.
I placed this as a bug report since it's not really a suggestion either, as I feel like questions on curseforge tend to get lost a bit in the endless mass of harrassment you have to suffer from "update to version x.xx.x plz" requests.

So I'll name the questions below

[2022-10-05 12:34] DigitalWendigo commented on #166
This is also an issue on the 1.16.5 version of the mod.
Meaning it's likely not a compatability interaction between Domestication Innovation.
It mostly happens after leaving and re-entering the chunk they reside in, meaning they revert to wandering after they get unloaded.

[2022-10-05 13:39] DigitalWendigo opened #194 "Rhinos and Bison, 1.16.5, can't manually breed."
Hello, I hope you're doing well.

I've recently begun learning how to make simplistic data packs, by using the datapack you provided in a previous issue regarding Hyenas not accepting rotten flesh.
Using that as an example on how to make datapacks, so that I can specify different items of choice for various animals and alter their stats, I tried to change some health values for bears to make them

[2022-10-05 15:26] DigitalWendigo commented on #26
[crash-2022-10-05_18.17.37-server.txt](https://github.com/RayTrace082/untamedwilds/files/9716947/crash-2022-10-05_18.17.37-server.txt)
Unfortunately this is still present in the last 1.16.5. version of the mod.
Not entirely sure if it's the exact same thing, but it mentions a ticking entity, which is apparently also a shark.

[2022-10-05 20:43] DigitalWendigo opened #195 "Rare skins don't transfer onto offspring. 1.16.5 + Aardvark burrow issue."
Hello, I hope you are having a fantastic day.

Sorry to be a bother about an old version, but I've noticed a bug regarding rare skins.
I've managed to capture two black leopards in the savanna after a reasonable amount of time of looking and wanted to have tamed ones in my open free roam zoo.
Unfortunately, it seems the offspring don't take on the rare skin of the parents.
After 37 offspring, none

[2022-10-06 15:25] RayTrace082 commented on #193
1.  If parents of the same species, have different skins...

There is no inheritance when it comes to skins (or anything, really), everything is randomized at the time the mob is born. This is currently a technical limitation, since mobs do not know the data of their father. I'd like to give breeding some in-depth rework, because I am a sucker for Forestry bee genetics, but don't expect anything a

[2022-10-07 00:36] ravennnnko commented on #192
Yeah, this would be nice.

[2022-10-08 10:37] SamMcDuncan commented on #124
Hey there !
Still no update on the config options ? I'm on 1.18.2 and I'd love to customize which mobs spawn or not.
Thanks.

[2022-10-12 15:29] RayTrace082 commented on #191
Delayed response, but I would like to make some mobs more interesting in that regard, but there's a few issues I have noticed:

* Mobs attacking players/other mobs has nothing to do with territory, it's either the "Hunt", "Protect baby" or "Spook a sleeping mob" behavior
* Minecraft combat is really, really bad. Fighting a Bear/Big Cat is just a gear check with no skill involved, which would be te

[2022-10-12 15:35] RayTrace082 commented on #192
Not very likely, since the climbing AI is awful, and Primates with boring AI are not worth adding (not to mention that, I never made any primate models to begin with).

If I add any primate, I'd probably go for some lemurs or monkeys before touching any of the Great Apes

[2022-11-08 09:36] d4y4z opened #196 "modify the Spawn of the Mobs"
hello, how can I modify the Spawn of the Mobs? I'm interested in removing elephant ears and common reed.

[2022-11-09 12:15] RayTrace082 commented on #196
Datapacks to modify the spawn of mobs

Removing plants is currently not possible, there are Config options to disable Flora from generating in the world, but there's no way to only disable certain plants

[2022-11-09 12:15] #196 closed, assigned to RayTrace082

[2022-11-17 03:47] AngelTiramisu opened #197 "Tortoise crashing server"
**Describe the bug**
Player joins near Tortoise, server crashes

**Crash Log**
If applicable, include a crash log through a text sharing service [eg. pastebin]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
 - Minecraft version: 1.18.2
 - Version of the mod: 1.18.2-2.2.0
[crash-2022-11-16_19.19.38-server.txt](

[2022-11-18 22:02] RayTrace082 commented on #197
There's nothing in the code that could cause a mob's Variant to overflow, so I'd like to know more information. The only case that could cause this would be messing with NBT and/or datapacks in an existing world

Where does this crashing Tortoise come from? Did it spawn from a burrow, an Egg, is it a Tortoise you picked up and placed or did you take it from the Creative inventory?

I'd like to kno

[2022-11-22 03:57] AngelTiramisu commented on #197
He has provided me with his crash log
https://paste.ee/p/JRdZ9

[2022-11-24 12:46] RayTrace082 commented on #197
Does it crash on load-in, or did it only happen once? Is the Burrows config option enabled (default) or disabled? Since I got no information on the subject, I'm going to guess that this crash just happened without any player input, and is not the result of trying to spawn a mob/egg.

My suggestion would be to use some world edition software to clear the chunk in question from entities and "untamed

[2022-11-26 21:21] turkey32 opened #198 "blind cave bear and giant panda doens't spawn naturally"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps To Reproduce**
Steps to reproduce the behavior:

The blind cave bear and panda doens't spawn naturally

**Crash Log**

**Version (please complete the following information):**
 - Minecraft version: [e.g. 1.18.2]
 - Version of the mod: [e.g. 2.2.0]